Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

docs(changesets): document contractkit breaking changes accurately
  .changeset/remove-rpc-contract-promievent.md
  .changeset/viem-native-migration.md
Due: none

test(connect): assert decodeEventLog value parity for indexed and non-indexed args
  packages/sdk/connect/src/viem-abi-coder.test.ts
Due: sdk

fix(connect,contractkit): isHash storage-key length; transferWithComment arg safety
  packages/sdk/connect/src/utils/formatter.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
Due: sdk

fix(contractkit): canonical selectors in methodIds for tuple-input functions
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
Due: sdk

fix(wallet-base): keep arbitrary precision when hex-encoding tx quantities
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: wallets

fix(connect,explorer,cli): canonical tuple signatures, checksummed proxy implementation, hex-encoded eth_call value
  packages/cli/src/utils/governance.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/explorer/src/sourcify.ts
Due: celocli, sdk

fix(cli): dkg output handling and restored election activate assertions
  packages/cli/src/commands/dkg/deploy.ts
  packages/cli/src/commands/dkg/get.ts
  packages/cli/src/commands/election/activate.test.ts
Due: celocli

style(cli): biome formatting
  packages/cli/src/commands/election/activate.test.ts
Due: celocli

fix(cli,contractkit): send release-gold revokes from the vote signer again
  packages/cli/src/commands/releasecelo/admin-revoke.ts
  packages/cli/src/transfer-stable-base.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
Due: celocli, sdk

fix(cli): restore on-chain event confirmations for governance commands
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/governance/withdraw.ts
Due: celocli

style(cli): biome formatting
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/executehotfix.ts
Due: celocli

fix(cli): use block timestamp for validator deregister and slashing-multiplier checks
  packages/cli/src/utils/checks.ts
Due: celocli

fix(dev-utils,cli): test-infra robustness from migration audit
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/dev-utils/src/test-utils.ts
Due: celocli

fix(wallet-base,cli): audit follow-ups — hex guards, recursive getter, test conventions
  packages/cli/src/base.ts
  packages/cli/src/commands/releasecelo/set-account.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: celocli, wallets

docs(contractkit): document Election.activate eager sequential sending
  packages/sdk/contractkit/src/wrappers/Election.ts
Due: sdk

test(cli): update transfer:dollars snapshot for fixed feeCurrency error message
  packages/cli/src/commands/transfer/dollars.test.ts
Due: celocli

test(cli): stabilize anvil-heavy suites for CI
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/authorize.test.ts
  packages/cli/src/commands/releasecelo/create-account.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.test.ts
  packages/cli/src/commands/releasecelo/refund-and-finalize.test.ts
  packages/cli/src/commands/releasecelo/set-account.test.ts
  packages/cli/src/commands/releasecelo/set-beneficiary.test.ts
  packages/cli/src/commands/releasecelo/set-can-expire.test.ts
  packages/cli/src/commands/releasecelo/set-liquidity-provision.test.ts
  packages/cli/src/commands/releasecelo/set-max-distribution.test.ts
  packages/cli/src/commands/releasecelo/show.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
Due: celocli

style(cli): biome formatting for activate.test
  packages/cli/src/commands/election/activate.test.ts
Due: celocli

fix(connect): treat all-zero hex quantities as empty in isEmpty
  packages/sdk/connect/src/viem-abi-coder.ts
Due: sdk

test(connect): pin fee-math regression for decimal-string priority fee
  packages/sdk/connect/src/connection.test.ts
Due: sdk

fix(explorer): parse full transactions in block explorer
  packages/sdk/explorer/src/block-explorer.ts
Due: sdk

fix(contractkit): close ws/wss provider socket on teardown
  packages/sdk/contractkit/src/setupForKits.ts
Due: sdk

fix(contractkit): normalize StableToken amounts via valueToString
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
Due: sdk

test(contractkit): pin canonical tuple-input function selectors
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
Due: sdk

test(cli): restore exact-equality assertion for second group in activate
  packages/cli/src/commands/election/activate.test.ts
Due: celocli

test(utils): cover isValidChecksumAddress checksum enforcement
  packages/sdk/utils/src/address.test.ts
Due: sdk

fix(cli): parse governance multisigTx flag with explicit radix
  packages/cli/src/commands/governance/approve.ts
Due: celocli

docs(connect): justify the any-typed contract write proxy
  packages/sdk/connect/src/contract-types.ts
Due: sdk

docs(changeset): correct web3->viem migration changesets
  .changeset/remove-rpc-contract-promievent.md
  .changeset/remove-web3-shim.md
  .changeset/viem-native-migration.md
Due: none

docs(changeset): soften strong-typing claim, drop unverifiable count
  .changeset/strong-typing-contractkit.md
Due: none

docs(changeset): bump MultiSig.submitTransaction to minor (additive API)
  .changeset/contractkit-submit-transaction.md
Due: none

fix(wallet-ledger): reject malformed odd-length hex in signature buffers
  packages/sdk/wallets/wallet-ledger/src/ledger-signer.ts
Due: wallets

docs(contractkit): note getPastEvents filter/topics and bigint parity gaps
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
Due: sdk

chore: remove stale wallet-rpc build artifacts
  packages/sdk/wallets/wallet-rpc/lib/index.d.ts
  packages/sdk/wallets/wallet-rpc/lib/index.js
  packages/sdk/wallets/wallet-rpc/lib/index.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js.map
Due: wallets

build: stop emitting JS sourcemaps for published libraries
  packages/typescript/tsconfig.library.json
Due: none

test(actions): skip elected-rpc-nodes fork test when forno prunes pinned state
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.test.ts
Due: none

ci: bump Node-20-deprecated actions to current versions
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/open-docs-pr.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

refactor(contractkit): drop Mento Reserve/StableToken ABI dep, repoint stables to viem erc20 + ICeloToken
  .changeset/remove-mento-reserve-repoint-stables.md
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/packages-to-be/stable-tokens.ts
  packages/cli/src/transfer-stable-base.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/contract-factory-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/stable-token-abi.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
Due: celocli, sdk

Remove Mento dependencies, repoint stable tokens to IERC20CeloTokens (#777)
  .changeset/remove-mento-reserve-repoint-stables.md
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/packages-to-be/stable-tokens.ts
  packages/cli/src/transfer-stable-base.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/contract-factory-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/stable-token-abi.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
Due: celocli, sdk
