Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

name this action other wise its just path
  .github/workflows/ci.yml
Due: none

same code is duplicated in newWeb3 as in this part of getWeb3 so dry it up
  packages/cli/src/base.ts
Due: celocli

test test test
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/governance/approve-l2.test.ts
  packages/cli/src/commands/releasecelo/authorize.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars-l2.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/euros.test.ts
  packages/cli/src/commands/transfer/reals.test.ts
  packages/cli/src/commands/transfer/stable.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/list.test.ts
  packages/cli/src/commands/validator/status.test.ts
Due: celocli

add change set
  .changeset/small-eyes-exercise.md
Due: none

fix telemetry config default overwriting + change to prod URL
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set-l2.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

fix reading telemetry + deterministic tests
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
Due: celocli

Added explicit debug about disabled telemetry
  packages/cli/src/utils/telemetry.ts
Due: celocli

Upgrade devchain and ABIs
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
Due: sdk

expand celocli test coverage (#493)
  .changeset/small-eyes-exercise.md
  .github/workflows/ci.yml
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/governance/approve-l2.test.ts
  packages/cli/src/commands/releasecelo/authorize.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars-l2.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/euros.test.ts
  packages/cli/src/commands/transfer/reals.test.ts
  packages/cli/src/commands/transfer/stable.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/list.test.ts
  packages/cli/src/commands/validator/status.test.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

Upgrade devchain and ABIs (#494)
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
Due: sdk

yarn lock wasnt updated
  yarn.lock
Due: none

update network/ snapshots
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/network/parameters.test.ts
Due: celocli

update validatorgroup/ snapshots
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
Due: celocli

add readme for metadata claims
  packages/sdk/metadata-claims/README.md
Due: sdk

fix types on root readme file thanks @arshadkazmi42
  README.md
Due: none

repository urls were not in correct format for monorepo
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/viem-account-ledger/package.json
Due: sdk, wallets

yarn docs
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/classes/wrappers_FeeCurrencyDirectoryWrapper.FeeCurrencyDirectoryWrapper.md
Due: none

possibly fix propose test?
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

update .gitignore with new *.test.json files
  .gitignore
Due: none

Upgrade devchain and ABIs (#495)
  .gitignore
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/classes/wrappers_FeeCurrencyDirectoryWrapper.FeeCurrencyDirectoryWrapper.md
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
  yarn.lock
Due: celocli

changeset and cli package
  .changeset/calm-wasps-grow.md
  packages/cli/package.json
Due: celocli

List community RPC nodes (#470)
  .changeset/afraid-wombats-agree.md
  .changeset/curly-dolls-heal.md
  .github/pull_request_template.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
  docs/sdk/metadata-claims/enums/types.ClaimTypes.md
  docs/sdk/metadata-claims/modules/claim.md
  docs/sdk/metadata-claims/modules/metadata.md
  docs/sdk/metadata-claims/modules/types.md
  packages/cli/src/commands/validatorgroup/rpc-urls-l2.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/utils/identity.ts
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/metadata-claims/src/metadata.ts
  packages/sdk/metadata-claims/src/types.ts
Due: celocli, sdk

Readme and package.json fixes (#497)
  .changeset/calm-wasps-grow.md
  README.md
  packages/cli/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/README.md
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk, wallets

Telemetry (#465)
  .github/workflows/ci.yml
  docs/command-line-interface/config.md
  package.json
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/scripts/postinstall.ts
  packages/cli/src/test-utils/setup.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

Typed data support for viem-account-ledger
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/ledger-to-account.ts
Due: none

--useMultiSig support for governance:withdraw command
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.ts
Due: celocli

changeset + docs
  .changeset/serious-ads-allow.md
  docs/command-line-interface/governance.md
Due: none

Support delegation for vote signers
  .changeset/quiet-deers-explode.md
  packages/cli/src/commands/lockedgold/delegate.test.ts
  packages/cli/src/commands/lockedgold/delegate.ts
Due: celocli

Support delegation for vote signers (#508)
  .changeset/quiet-deers-explode.md
  packages/cli/src/commands/lockedgold/delegate.test.ts
  packages/cli/src/commands/lockedgold/delegate.ts
Due: celocli

resolve TODOs + CR fixes
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/utils/flags.ts
Due: celocli

--useMultiSig flag support for governance:withdraw (#507)
  .changeset/serious-ads-allow.md
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/utils/flags.ts
Due: celocli

add epochs:send-validator-payment command
  .changeset/happy-lobsters-appear.md
  .changeset/slimy-beds-share.md
  docs/command-line-interface/epochs.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/cli/src/commands/epochs/send-validator-payment-l2.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

fix build error because of reformatting
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

CR fixes
  docs/command-line-interface/epochs.md
  docs/command-line-interface/validator.md
  packages/cli/src/commands/epochs/send-validator-payment.ts
Due: celocli

feat: add useSafe for governance:propose
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/utils/safe.ts
Due: celocli

feat: add useSafe for governance:withdraw
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/utils/flags.ts
Due: celocli

docs: reword ambiguous `safe`
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/utils/flags.ts
Due: celocli

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
