Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

Just Tx... its cleaner
  .changeset/celocli-governance-approve-flags.md
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
Due: celocli

docs(changeset): Downgrade celo-token-signer to fix inability to transfer dollars on ledger.
  .changeset/shaggy-islands-boil.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: wallets

Add metadata timeouts for slow rpc urls
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

docs(changeset): Set a max wait time when fetching community rpc provider metadata urls.
  .changeset/hip-nights-draw.md
Due: none

Update npm-publish workflow reference to develop branch
  .github/workflows/release.yaml
Due: none

Add a workflow for a dry run with provenance for testing with workflow dispatch
  .github/workflows/publish-dry-run.yaml
Due: none

add production environment
  .github/workflows/publish-dry-run.yaml
Due: none

Update release.yaml to use security test branch of reusable workflows
  .github/workflows/release.yaml
Due: none

Update release.yaml to use security test branch of reusable workflows (#754)
  .github/workflows/release.yaml
Due: none

Rename dump-oidc to oidc-dump in release workflow
  .github/workflows/release.yaml
Due: none

Rename dump-oidc to oidc-dump in release workflow (#755)
  .github/workflows/release.yaml
Due: none

Add workflow_dispatch trigger to release workflow
  .github/workflows/release.yaml
Due: none

Refactor release.yaml for improved security and clarity
  .github/workflows/release.yaml
Due: none

Set release job to run on ubuntu-latest
  .github/workflows/release.yaml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

Add production environment to release job
  .github/workflows/release.yaml
Due: none

Remove dry-run option from publish command
  .github/workflows/release.yaml
Due: none

Change publish command to dry-run mode
  .github/workflows/release.yaml
Due: none

Update Node.js setup in release workflow
  .github/workflows/release.yaml
Due: none

Fix indentation for cache configuration in release.yaml
  .github/workflows/release.yaml
Due: none

Update NODE_VERSION from 20 to 24 in release.yaml
  .github/workflows/release.yaml
Due: none

fmt
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

node 24
  .changeset/node-24-cli.md
  .changeset/node-24-dev-utils.md
  .changeset/node-24-viem-account-ledger.md
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  .nvmrc
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/standalone.Dockerfile
  packages/viem-account-ledger/package.json
Due: celocli

temp log
  packages/cli/src/utils/checks.ts
Due: celocli

amchai
  packages/cli/src/utils/checks.ts
Due: celocli

snapshot
  yarn.lock
Due: none

Install native build dependencies for node-hid
  .github/workflows/ci.yml
Due: none

docs(changeset): fix access of rawvalues
  .changeset/sad-aliens-tap.md
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: wallets

fix timetest
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/utils/checks.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: celocli, wallets

fmt
  packages/cli/src/commands/validatorgroup/deregister.test.ts
Due: celocli

revert workflow file back to use v3.0.1 of the npm publish workflow
  .github/workflows/release.yaml
Due: none

revert back to reusable workflows v3.0.0
  .github/workflows/release.yaml
Due: none

add a workflow dispatch
  .github/workflows/release.yaml
Due: none

Add space to trigger workflow for logging
  .github/workflows/release.yaml
Due: none

Remove space to trigger workflow for logging
  .github/workflows/release.yaml
Due: none

Move to develop versionof reusable workflows to remove provenance for testing authentication
  .github/workflows/release.yaml
Due: none

Trigger workflow with a push
  .github/workflows/release.yaml
Due: none

Update publish command to execute release
  .github/workflows/release.yaml
Due: none
