Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

refactor(governance): replace createViemTxObject with encodeFunctionData in ProposalBuilder and chain-setup
  packages/dev-utils/src/chain-setup.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

refactor(cli): replace createViemTxObject in DKG commands, test-utils, and network/contracts
  packages/cli/src/commands/dkg/allowlist.ts
  packages/cli/src/commands/dkg/get.ts
  packages/cli/src/commands/dkg/publish.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/dkg/start.ts
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
Due: celocli

fix(contractkit,cli): migrate test files to eager send pattern and fix sendTx waitReceipt
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.test.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.test.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
Due: celocli, sdk

refactor(connect): remove dead Connection methods (getViemContract, coinbase, getBlockHeader, sendSignedTransaction)
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(connect,contractkit): replace TransactionResult with direct tx hash return + viem receipt polling
  packages/dev-utils/src/chain-setup.ts
  packages/dev-utils/src/contracts.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/index.ts
  packages/sdk/connect/src/utils/receipt-polling.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
Due: sdk

refactor(connect,contractkit): remove web3 remnants — bn.js, BigNumber, @ethereumjs/util, deprecated aliases
  packages/sdk/connect/package.json
  packages/sdk/connect/src/celo-provider.test.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  yarn.lock
Due: sdk

refactor(connect,contractkit): remove dead methods, migrate callContract to .read, remove deprecated exports
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
Due: sdk

refactor: kill callContract, AbiCoder interface, viemAbiCoder singleton, and fix CLI getHash/waitReceipt
  packages/cli/src/commands/dkg/allowlist.ts
  packages/cli/src/commands/dkg/deploy.ts
  packages/cli/src/commands/dkg/publish.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/dkg/start.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/cli/src/utils/governance.ts
  packages/sdk/connect/src/abi-types.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/abi-utils.ts
  packages/sdk/connect/src/viem-abi-coder.test.ts
  packages/sdk/connect/src/viem-abi-coder.ts
  packages/sdk/contractkit/src/address-registry.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/explorer/package.json
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/explorer/src/sourcify.test.ts
  packages/sdk/explorer/src/sourcify.ts
  packages/sdk/governance/src/proposal-builder.ts
  packages/sdk/governance/src/proposals.ts
  packages/sdk/transactions-uri/package.json
  packages/sdk/transactions-uri/src/tx-uri.ts
  yarn.lock
Due: celocli, sdk

refactor: remove all web3 references — rename functions, clean comments, use native viem patterns
  packages/cli/src/base.ts
  packages/cli/src/commands/account/list.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/utils/safe.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/sdk/connect/src/abi-types.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.ts
  packages/sdk/connect/src/utils/provider-utils.ts
  packages/sdk/connect/src/viem-abi-coder.ts
  packages/sdk/explorer/src/sourcify.ts
  packages/sdk/utils/src/signatureUtils.ts
  packages/sdk/utils/src/solidity.ts
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: celocli, sdk, wallets

refactor: remove deprecated code and migrate Connection internals to viem
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/exchange.test.ts
  packages/cli/src/utils/exchange.ts
  packages/dev-utils/src/test-utils.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.test.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/index.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/cryptographic-utils/src/account.ts
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/governance/src/proposal-builder.ts
  packages/sdk/utils/src/celoHistory.ts
Due: celocli, sdk

fix(connect): strip gas:0 from write proxy estimation + fix metadata-claims tests for hash-only returns
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/metadata-claims/src/account.test.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
Due: sdk

fix: add missing waitForTransactionReceipt in revokeupvote test + fmt
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/metadata-claims/src/account.test.ts
Due: celocli, sdk

fix(transactions-uri): fix ReDoS vulnerability in ARGS_REGEX
  packages/sdk/transactions-uri/src/tx-uri.ts
Due: sdk

fix(contractkit): await transaction receipt in ScoreManager tests for CI reliability
  packages/sdk/contractkit/src/wrappers/ScoreManager.test.ts
Due: sdk

refactor(explorer): remove deprecated getContractMethodAbiFromCore and getContractMethodAbiFromMapping
  packages/sdk/explorer/src/block-explorer.ts
Due: sdk

refactor(connect): remove dead web3-era types (Syncing, HttpProvider)
  packages/sdk/connect/src/types.ts
Due: sdk

fix(governance): add bigint-safe JSON serialization
  packages/sdk/governance/src/interactive-proposal-builder.ts
  packages/sdk/governance/src/json-utils.ts
  packages/sdk/governance/src/proposal-builder.ts
  packages/sdk/governance/src/proposals.ts
Due: sdk

refactor(connect): replace web3 ABI types with viem-native equivalents
  packages/sdk/connect/src/abi-types.ts
  packages/sdk/connect/src/utils/abi-utils.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
  packages/sdk/governance/src/interactive-proposal-builder.ts
Due: sdk

refactor(connect): migrate internal callers to viemClient
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.test.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
Due: sdk

refactor(contractkit): migrate callers to viemClient
  packages/sdk/contractkit/src/test-utils/utils.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

refactor(explorer,governance): migrate callers to viemClient
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/explorer/src/sourcify.test.ts
  packages/sdk/explorer/src/sourcify.ts
  packages/sdk/governance/src/proposals.ts
Due: sdk

refactor(cli): migrate callers to viemClient
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/upvote.test.ts
  packages/cli/src/commands/governance/vote.test.ts
  packages/cli/src/commands/governance/votePartially.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validator/affilliate.test.ts
  packages/cli/src/commands/validator/deaffilliate.test.ts
  packages/cli/src/commands/validator/status.test.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

refactor(connect): delete output formatters, dead types, and Connection pass-throughs
  packages/dev-utils/src/chain-setup.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.test.ts
  packages/sdk/connect/src/utils/formatter.ts
Due: sdk

style: format viemClient migration code
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/upvote.test.ts
  packages/cli/src/commands/governance/vote.test.ts
  packages/cli/src/commands/governance/votePartially.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/sdk/explorer/src/block-explorer.ts
Due: celocli, sdk

Test OIDC
  .changeset/config.json
Due: none

Test OIDC publishing
  package.json
  yarn.lock
Due: none

Test OIDC 3
  packages/sdk/contractkit/package.json
Due: sdk

Plonk
  packages/sdk/contractkit/src/kit.ts
Due: sdk

Update release.yaml
  .github/workflows/release.yaml
Due: none

Update release.yaml (#764)
  .github/workflows/release.yaml
Due: none

refactor(cli): migrate base, utils, and test-utils to viem
  packages/cli/package.json
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/test-utils/deterministic-test-helpers.ts
  packages/cli/src/test-utils/mockRpc.ts
  packages/cli/src/test-utils/multicall.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/exchange.test.ts
  packages/cli/src/utils/exchange.ts
  packages/cli/src/utils/fee-currency.test.ts
  packages/cli/src/utils/governance.ts
  packages/cli/src/utils/identity.ts
  packages/cli/src/utils/release-gold-base.ts
  packages/cli/src/utils/require.ts
  packages/cli/src/utils/safe.ts
  packages/cli/tsconfig.json
Due: celocli

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
