Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

fix frontmatter
  .github/workflows/open-docs-pr.yml
Due: none

update sidebar
  .github/workflows/open-docs-pr.yml
Due: none

where am i
  .github/workflows/open-docs-pr.yml
Due: none

add syntax
  .github/workflows/open-docs-pr.yml
Due: none

overview first, index is not generated
  .github/workflows/open-docs-pr.yml
Due: none

move script to file
  .github/scripts/update-docs-repo.sh
  .github/workflows/open-docs-pr.yml
Due: none

Revert "move script to file"
  .github/scripts/update-docs-repo.sh
  .github/workflows/open-docs-pr.yml
Due: none

fix auto doc (#733)
  .github/workflows/open-docs-pr.yml
Due: none

docs(changeset): Upgrades @celo/ledger-token-signer adding support for sending more erc20 in the clear and fixing paying with USDC gas tokens when signing with ledgers
  .changeset/thirty-turtles-accept.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: wallets

fix tests to work with new chain id
  packages/viem-account-ledger/src/utils.test.ts
Due: none

update test for celo sepolia
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

fmt
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

docs(changeset): Support Celo Sepolia Tokens and all celo-token-list tokens when signing with Ledger
  .changeset/bright-parts-brush.md
Due: none

Add support clear signing erc20 transfers on ledgers for all celo-tokenlist tokens. (#735)
  .changeset/bright-parts-brush.md
  .changeset/thirty-turtles-accept.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/utils.test.ts
  yarn.lock
Due: wallets

docs(changeset): Add utilies for generating a proof-of-possession and parsingSignatures
  .changeset/big-clowns-like.md
  packages/actions/src/contracts/accounts.test.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/index.ts
  packages/core/src/index.ts
  packages/core/src/proof-of-possession/index.test.ts
  packages/core/src/proof-of-possession/index.ts
Due: none

docs(changeset): Convert account:proof-of-posession to use viem instead of web3 based functions
  .changeset/odd-memes-work.md
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/proof-of-possession.compatibility.test.ts
  packages/cli/src/commands/account/proof-of-possession.ts
Due: celocli

refactor: migrate account authorize command to use viem instead of web3
  .changeset/odd-memes-work.md
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/validators.ts
  packages/actions/src/index.ts
  packages/actions/src/multicontract-interactions/authorize/proof-of-possession.ts
  packages/cli/package.json
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/proof-of-possession.compatibility.test.ts
  packages/cli/src/commands/account/verify-proof-of-possession.ts
  packages/cli/src/utils/command.ts
  packages/core/src/proof-of-possession/index.ts
Due: celocli

turn beta mode back on
  .changeset/pre.json
Due: none

move test to match file it tests
  packages/actions/src/multicontract-interactions/authorize/poof-of-poessession.test.ts
Due: none

structure exports
  packages/actions/package.json
  packages/actions/src/index.ts
  packages/actions/src/multicontract-interactions/authorize/index.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/proof-of-possession.compatibility.test.ts
  packages/cli/src/commands/account/proof-of-possession.ts
Due: celocli

Update README.md
  README.md
Due: none

handle local signs
  packages/actions/src/multicontract-interactions/authorize/proof-of-possession.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/account/proof-of-possession.ts
Due: celocli

lint
  packages/cli/src/commands/account/proof-of-possession.ts
Due: celocli

docs(changeset): Updates logic for submiting/confirming transaction with multisig to only search thru non executed transactions
  .changeset/open-donkeys-nail.md
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

there are too many executed transactions to search thru all of them
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

mint
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

revert expectations
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
Due: sdk

snaps
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/network/whitelist.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
Due: celocli, sdk

Add --submit and --multisigTXId flags to governance:approve
  .changeset/celocli-governance-approve-flags.md
  .changeset/contractkit-submit-transaction.md
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: celocli, sdk

dont prevent submissions if mondo is behind
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
Due: celocli

Update release.yaml
  .github/workflows/release.yaml
Due: none

Update release.yaml (#748)
  .github/workflows/release.yaml
Due: none

Update release.yaml (#749)
  .github/workflows/release.yaml
Due: none
