Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

fmt
  packages/cli/src/commands/releasecelo/set-max-distribution.test.ts
  packages/cli/src/commands/releasecelo/show.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/off-chain-data.ts
  packages/sdk/base/src/result.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/rpc-caller.ts
  packages/sdk/contractkit/src/celo-tokens.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/keystores/src/keystore-base.ts
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/wallets/wallet-hsm-aws/src/aws-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-azure/src/azure-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-gcp/src/gcp-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/sdk/wallets/wallet-local/src/local-wallet.test.ts
Due: celocli, sdk, wallets

fmt
  .vscode/settings.json
Due: none

downgrade inquier so that version matches governances so tests pass
  packages/cli/package.json
  packages/cli/src/commands/governance/build-proposals.test.ts
Due: celocli

chore: devchain snapshots
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
Due: celocli

fmt
  packages/actions/src/client.ts
  packages/actions/src/contracts/election.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/run.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/election/vote.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/hashhotfix.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/test-proposal.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/releasecelo/locked-gold.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/cli/src/commands/releasecelo/set-can-expire.test.ts
Due: celocli

chore: biome fixes
  .github/workflows/ci.yml
  biome.json
  package.json
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/utils/checks.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/contracts.ts
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/wallets/wallet-local/src/signing.test.ts
  yarn.lock
Due: celocli, sdk, wallets

fix: yarnlock
  packages/cli/src/commands/election/run.ts
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli

fix: for some reasons this stopped compiling?
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

fix
  biome.json
  packages/cli/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

yarn.lock
  yarn.lock
Due: none

Create tasty-eggs-fry.md
  .changeset/tasty-eggs-fry.md
Due: none

yarn lock
  .husky/pre-commit
  yarn.lock
Due: none

fix: futureproof provideERC20TokenInformation tests
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

chore: why didn't this auto-fmt?
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

chore: upgrade ledger-token-signer (#674)
  .changeset/unlucky-bears-love.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  yarn.lock
Due: wallets

ready for release
  .changeset/fifty-deers-move.md
  .changeset/fuzzy-files-sell.md
  .changeset/grumpy-flies-run.md
  .changeset/itchy-tips-carry.md
  .changeset/nine-coins-drive.md
  .changeset/purple-squids-wait.md
  .changeset/silly-toes-own.md
  .changeset/sixty-houses-rest.md
  .changeset/swift-baboons-appear.md
  .changeset/swift-hats-refuse.md
  .changeset/three-years-cry.md
Due: none

exit beta
  .changeset/pre.json
Due: none

Prepare for Release (#679)
  .changeset/fifty-deers-move.md
  .changeset/fuzzy-files-sell.md
  .changeset/grumpy-flies-run.md
  .changeset/itchy-tips-carry.md
  .changeset/nine-coins-drive.md
  .changeset/pre.json
  .changeset/purple-squids-wait.md
  .changeset/silly-toes-own.md
  .changeset/sixty-houses-rest.md
  .changeset/swift-baboons-appear.md
  .changeset/swift-hats-refuse.md
  .changeset/three-years-cry.md
  fs-report.txt
Due: none

Update README.md
  packages/actions/README.md
Due: none

Update README.md
  packages/actions/docs/README.md
Due: none

Update task.ts
  packages/sdk/base/src/task.ts
Due: sdk

docs(changeset): Use realistic values for gasPrice and baseFeePerGas in anvil instance
  .changeset/cuddly-moons-sin.md
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: none

docs(changeset): Fix incorrect estimation of gas for transfers
  .changeset/wicked-bats-dance.md
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/transfer-stable-base.ts
Due: celocli

lint
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/erc20.ts
Due: celocli

now that we pay for gas for real gotta make sure everything is funded.
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
Due: celocli

fix: make sure the contract call is caught for better error logging
  packages/cli/package.json
  packages/sdk/contractkit/src/kit.ts
Due: celocli, sdk

feat: abis@13
  packages/actions/package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

feat: alias and deprecate method
  packages/sdk/contractkit/src/wrappers/Accounts.ts
Due: sdk

fix: fmt
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
Due: celocli

docs(changeset):
  .changeset/mighty-walls-cry.md
Due: none

ensure enough funds to lock and pay for gas in tests
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

fmt
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

fmt
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
Due: celocli

Fix large transfers (#683)
  .changeset/cuddly-moons-sin.md
  .changeset/mighty-walls-cry.md
  .changeset/wicked-bats-dance.md
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/transfer-stable-base.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli
