Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

update snapshot name
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
Due: celocli

docs(changeset): Remove L1 code paths
  .changeset/many-yaks-explain.md
Due: none

docs(changeset): Remove validator commands with L1 only usecases. set-bitmaps, signed-blocks, status, update-bls-key
  .changeset/sharp-pears-sell.md
Due: none

docs(changeset): Remove slashing flag from rewards:show (no longer relevent post L2 upgrade)
  .changeset/sweet-grapes-design.md
Due: none

docs(changeset): Remove bls flags from authorize command
  .changeset/soft-bulldogs-draw.md
Due: none

Fix admin revoke command for L2 (#601)
  .changeset/blue-cobras-explode.md
  .gitguardian.yml
  .github/workflows/ci.yml
  packages/cli/package.json
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.ts
  packages/cli/src/utils/release-gold-base.ts
Due: celocli

update changeset
  .changeset/soft-bulldogs-draw.md
Due: none

fix: celobaklava
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  yarn.lock
Due: celocli

fix: esm ??
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/scripts/post-build.mjs
Due: none

remove ganache tests from ci as they are not needed anymore, re delete file added back in merge conflicts
  .github/workflows/ci.yml
  packages/cli/src/commands/network/parameters-l2.test.ts
Due: celocli

remove old imports
  .github/workflows/ci.yml
  packages/cli/src/utils/fee-currency.ts
Due: celocli

cant delete this until part 3
  .changeset/fresh-dolls-admire.md
  packages/cli/DEVELOP.md
  packages/dev-utils/src/anvil-test.ts
  packages/sdk/contractkit/DEVELOP.md
Due: celocli, sdk

fix: esm
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/scripts/post-build.mjs
  packages/viem-account-ledger/tsconfig-base.json
  packages/viem-account-ledger/tsconfig-cjs.json
  packages/viem-account-ledger/tsconfig.json
Due: none

update tests
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
Due: celocli

docs(changeset): Getting config no longer requires a node
  .changeset/kind-lions-type.md
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

docs(changeset): gasCurrency flag now completely removed from config. celocli config:set no longer tries to connect to a node
  .changeset/fifty-berries-wash.md
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
Due: celocli

test no long needs anvil
  packages/cli/src/commands/config/set.test.ts
Due: celocli

local node
  packages/cli/src/commands/config/get.test.ts
Due: celocli

tests: many tests
  packages/cli/src/base.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/index.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.test.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/types.ts
  packages/viem-account-ledger/src/utils.test.ts
Due: celocli

oopsie
  packages/cli/src/commands/config/get.test.ts
Due: celocli

(celocli) Getting/Setting config no longer requires a node (#606)
  .changeset/fifty-berries-wash.md
  .changeset/kind-lions-type.md
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

test: mutex
  packages/viem-account-ledger/src/utils.test.ts
Due: none

feat: addressValidation enum
  codecov.yml
  packages/viem-account-ledger/src/ledger-to-account.test.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.test.ts
Due: none

no mocking in election test
  packages/cli/src/commands/election/current.test.ts
Due: celocli

docs(changeset): Remove testWithGanache
  .changeset/sixty-wolves-grab.md
  package.json
  packages/cli/package.json
  packages/cli/src/test-utils/setup.global.ts
  packages/cli/src/test-utils/teardown.global.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/ganache-test.ts
  packages/sdk/contractkit/src/test-utils/setup.global.ts
  packages/sdk/contractkit/src/test-utils/teardown.global.ts
Due: celocli, sdk

we can now run all tests in side by side but set max workers due to https://stackoverflow.com/questions/71287710/why-does-jest-run-faster-with-maxworkers-50
  packages/cli/package.json
Due: celocli

remove L1 code from wallet packages
  .changeset/bright-fireants-know.md
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: wallets

docs(changeset): Remove TestWithAnvilL1
  .changeset/curly-pigs-sin.md
Due: none

remove disfunctional test utils since epochs no longer have exact number of blocks
  packages/sdk/contractkit/src/test-utils/utils.ts
Due: sdk

update tests commands now that ganache doenst force us to run in band, fix global test:watch
  package.json
  packages/cli/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/metadata-claims/package.json
Due: celocli, sdk

use L2 environment for metadata claims and transaction uri tests
  packages/sdk/metadata-claims/src/account.test.ts
  packages/sdk/metadata-claims/src/domain.test.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/transactions-uri/src/tx-uri.test.ts
Due: sdk

docs(changeset): Remove ganache. Change lib/ganache-setup.js to lib/test-accounts.js
  .changeset/khaki-vans-breathe.md
  package.json
  packages/cli/DEVELOP.md
  packages/cli/src/test-utils/chain-setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/dev-utils/src/ganache-teardown.ts
  packages/dev-utils/src/test-accounts.ts
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/utils/signing.test.ts
  packages/sdk/metadata-claims/src/account.test.ts
  packages/sdk/metadata-claims/src/domain.test.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
Due: celocli, sdk

typings
  packages/cli/src/commands/account/list.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
Due: celocli

update snap. it now shows actual elected addresses
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/rewards/show.test.ts
Due: celocli

snap updated due to whitespace. maybe we should change outputs
  packages/cli/src/commands/rewards/show.test.ts
Due: celocli

no mocking in election test (#607)
  packages/cli/src/commands/election/current.test.ts
Due: celocli

L1 Removal Part 3: Wallets and other sdks (#598)
  .changeset/bright-fireants-know.md
  .changeset/curly-pigs-sin.md
  .changeset/khaki-vans-breathe.md
  .changeset/sixty-wolves-grab.md
  package.json
  packages/cli/DEVELOP.md
  packages/cli/package.json
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/test-utils/setup.global.ts
  packages/cli/src/test-utils/teardown.global.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/ganache-setup.ts
  packages/dev-utils/src/ganache-teardown.ts
  packages/dev-utils/src/ganache-test.ts
  packages/dev-utils/src/test-accounts.ts
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/test-utils/setup.global.ts
  packages/sdk/contractkit/src/test-utils/teardown.global.ts
  packages/sdk/contractkit/src/test-utils/utils.ts
  packages/sdk/contractkit/src/utils/signing.test.ts
  packages/sdk/metadata-claims/package.json
  packages/sdk/metadata-claims/src/account.test.ts
  packages/sdk/metadata-claims/src/domain.test.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/transactions-uri/src/tx-uri.test.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: celocli, sdk, wallets

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
