Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

Update packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

chore: update changeset description
  .changeset/late-eggs-yawn.md
Due: none

chore: linting
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/utils/command.ts
Due: celocli

feat: update all multisig commands to move away from contractkit
  packages/actions/src/contracts/multisig.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/command.ts
Due: celocli

show the number of approval/confirmations that a tx has
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/multisig-utils.ts
Due: celocli

docs(changeset): Change the interface for the MultiSig wrapper to submit arbitrary calldata without building a CeloTxObject.
  .changeset/gorgeous-eagles-wash.md
Due: none

snapshot
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/transfer.test.ts
Due: celocli

docs(changeset): Expose a getMultiSigContract helper.
  .changeset/thick-terms-float.md
Due: none

add tess to multisig comamnds
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/command.ts
Due: celocli

feat: make sure transfer functionality is 1:1 with the wrapper
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

snap is not relialble due to these litter 22m[ things
  packages/cli/src/commands/multisig/transfer.test.ts
Due: celocli

Replace (688) feat: Add a multisig:propose command for arbitrary multisig transactions (#689)
  .changeset/late-eggs-yawn.md
  .changeset/thick-terms-float.md
  docs/command-line-interface/multisig.md
  packages/actions/src/contracts/multisig.ts
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/multisig-utils.ts
Due: celocli

Create gold-taxis-glow.md
  .changeset/gold-taxis-glow.md
Due: none

prod mode
  .changeset/pre.json
Due: none

vibing
  packages/cli/src/commands/releasecelo/withdraw.test.ts
Due: celocli

remove unreliable subtests
  packages/cli/src/commands/releasecelo/withdraw.test.ts
Due: celocli

begone cursed test
  packages/cli/src/commands/releasecelo/withdraw.test.ts
Due: celocli

enabled prod releasing (#701)
  .changeset/pre.json
  packages/cli/src/commands/releasecelo/withdraw.test.ts
Due: celocli

docs(changeset): Proposals missing value property now throw with understandable error message
  .changeset/old-badgers-invite.md
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

lint
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

value can be zero
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

Informatively throw when value is missing (#703)
  .changeset/old-badgers-invite.md
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

lock versions of compromised packages
  .claude/settings.local.json
  SECURITY.md
  package.json
Due: none

docs(changeset): Fix releasecelo:transfer-dollars to load the correct account to send from
  .changeset/fine-bushes-bow.md
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

linty
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

better addres comparison
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

vamos
  .changeset/pre.json
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

Fix release celo dollars transfer (#713)
  .changeset/fine-bushes-bow.md
  .changeset/pre.json
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

docs(changeset): Breaking -- removes chains entry point and celoBaklava export
  .changeset/big-flowers-jump.md
  packages/actions/package.json
  packages/actions/src/chains.ts
  packages/actions/src/client.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/chains.ts
Due: none

docs(changeset): Remove alfajores and baklava aliases from --rpc flag
  .changeset/shiny-years-leave.md
  .github/workflows/release.yaml
  packages/cli/README.md
  packages/cli/cloudbuild.yaml
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/sdk/contractkit/MIGRATION-TO-ETHERS.md
  packages/sdk/contractkit/MIGRATION-TO-VIEM.md
  packages/sdk/contractkit/README.md
  packages/sdk/governance/src/proposal-builder.test.ts
Due: celocli, sdk

clean
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
Due: celocli

removes @celo/network-utils from repo
  packages/sdk/network-utils/.gitignore
  packages/sdk/network-utils/.npmignore
  packages/sdk/network-utils/CHANGELOG.md
  packages/sdk/network-utils/README.md
  packages/sdk/network-utils/jest.config.js
  packages/sdk/network-utils/jestSetup.ts
  packages/sdk/network-utils/package.json
  packages/sdk/network-utils/scripts/fetch_timezones.ts
  packages/sdk/network-utils/src/genesis-block-utils.test.ts
  packages/sdk/network-utils/src/genesis-block-utils.ts
  packages/sdk/network-utils/src/globals.d.ts
  packages/sdk/network-utils/src/google-storage-utils.ts
  packages/sdk/network-utils/src/index.ts
  packages/sdk/network-utils/src/static-node-utils.test.ts
  packages/sdk/network-utils/src/static-node-utils.ts
  packages/sdk/network-utils/src/utils/timezone.ts
  packages/sdk/network-utils/src/utils/timezones.json
  packages/sdk/network-utils/tsconfig.json
  packages/sdk/network-utils/typedoc.json
Due: sdk

remove chains
  .gitignore
  packages/actions/package.json
  packages/cli/src/base.ts
  yarn.lock
Due: celocli

why lint
  packages/cli/src/base.ts
Due: celocli

docs(changeset): remove all exchange:*** commands.
  .changeset/itchy-beds-stand.md
  packages/cli/package.json
  packages/cli/src/commands/exchange/celo.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/euros.ts
  packages/cli/src/commands/exchange/reals.ts
  packages/cli/src/commands/exchange/show.ts
  packages/cli/src/commands/exchange/stable.ts
  packages/cli/src/exchange-stable-base.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/mento-broker-adaptor.ts
  yarn.lock
Due: celocli

improvement
  .changeset/itchy-beds-stand.md
  packages/cli/src/utils/cli.ts
Due: celocli

no worries
  packages/cli/src/utils/cli.test.ts
Due: celocli
