Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

format jq
  .github/workflows/release.yaml
Due: none

stringify
  .github/workflows/release.yaml
Due: none

fix typo
  .github/workflows/release.yaml
Due: none

conditional
  .github/workflows/release.yaml
Due: none

install jq
  .github/workflows/release.yaml
Due: none

typo
  .github/workflows/release.yaml
Due: none

modify release temporarily to test new job
  .github/workflows/release.yaml
Due: none

fix up issues
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Due: none

better commands and wording
  .github/workflows/release.yaml
Due: none

should do it
  .github/workflows/release.yaml
Due: none

remove most fake data
  .github/workflows/release.yaml
Due: none

debug
  .github/workflows/ci.yml
Due: none

make it run
  .github/workflows/release.yaml
Due: none

do not run if not needed
  .github/workflows/release.yaml
Due: none

print
  .github/workflows/release.yaml
Due: none

installing isnt gonna work for testing unless we re implement changesets because of workspace: references in package.jsons
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Due: none

use test data for easier review
  .github/workflows/release.yaml
Due: none

remove checking betas on each pr
  .github/workflows/cron-npm-install.yml
Due: none

full test data
  .github/workflows/release.yaml
Due: none

add make script because yarn workspace commands must call a script in package.json not a yarn command.
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/typescript/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk, wallets

nooo
  .github/workflows/release.yaml
Due: none

use test data
  .github/workflows/release.yaml
Due: none

yolo
  .github/workflows/release.yaml
Due: none

boom
  .github/workflows/release.yaml
Due: none

wip
  .github/workflows/release.yaml
Due: none

reverse package packing on pr
  .github/workflows/ci.yml
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/typescript/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk, wallets

take off the training wheels
  .github/workflows/release.yaml
Due: none

Install Packages post release (#482)
  .github/workflows/cron-npm-install.yml
  .github/workflows/release.yaml
  .gitignore
  packages/cli/package.json
Due: celocli

exit beta mode
  .changeset/pre.json
Due: none

exit beta mode (#484)
  .changeset/pre.json
Due: none

remove not needed postinstall pt 2
  .github/workflows/ci.yml
  package.json
Due: none

refactor postinstall + printing logic
  packages/cli/package.json
  packages/cli/scripts/telemetry-notice.js
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

revert because postinstall output by default is not shown at all
  packages/cli/package.json
  packages/cli/scripts/telemetry-notice.js
  packages/cli/src/utils/telemetry.test.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

cover with tests + handle errors
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

remove only
  packages/cli/src/base-l2.test.ts
Due: celocli

disable telemetry for tests, try/catch for fs operations, add a TODO
  packages/cli/src/base-l2.test.ts
  packages/cli/src/test-utils/setup.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

missing timeout + set --telemetry test, fix other tests
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/config/set-l2.test.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/telemetry.test.ts
Due: celocli

fix tests
  packages/cli/src/commands/config/set-l2.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/utils/telemetry.test.ts
Due: celocli

revert package version, docs
  docs/command-line-interface/config.md
  packages/cli/package.json
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/config/set.ts
Due: celocli

WIP start of ledgerLiveMode, and derivationPathConfig
  .github/workflows/ci.yml
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/sdk/base/src/account.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: celocli, sdk, wallets
