Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

quick hack
  .github/workflows/upload-celocli-executables.yml
Due: none

more comments
  .github/workflows/upload-celocli-executables.yml
Due: none

release 6.1.0
  .github/workflows/upload-celocli-executables.yml
Due: none

final
  .github/workflows/upload-celocli-executables.yml
Due: none

celocli: publish executables in github releases and on homebrew (#532)
  .changeset/rude-mayflies-itch.md
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  docs/command-line-interface/commands.md
  docs/command-line-interface/plugins.md
  packages/cli/README.md
  packages/cli/homebrew/Formula/.gitignore
  packages/cli/homebrew/scripts/cleanup.sh
  packages/cli/homebrew/scripts/prepare.mjs
  packages/cli/homebrew/scripts/test.sh
  packages/cli/homebrew/templates/celocli.rb
  packages/cli/package.json
  yarn.lock
Due: celocli

move to homebrew-brew tap
  .github/workflows/upload-celocli-executables.yml
  packages/cli/README.md
  packages/cli/homebrew/scripts/test.sh
  packages/cli/homebrew/templates/celocli.rb
Due: celocli

chore: readme
  packages/cli/README.md
Due: celocli

celocli: move to homebrew-brew tap (#552)
  .github/workflows/upload-celocli-executables.yml
  packages/cli/README.md
  packages/cli/homebrew/scripts/test.sh
  packages/cli/homebrew/templates/celocli.rb
Due: celocli

use abis 12.0.1
  .changeset/cold-carpets-hide.md
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

use abis 12.0.1 (#553)
  .changeset/cold-carpets-hide.md
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

wip: node:synced
  packages/cli/src/base.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  yarn.lock
Due: celocli

typings
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
Due: none

refactor
  packages/cli/src/base.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

less ambigious names
  packages/cli/src/utils/helpers.test.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

fix tests
  packages/cli/src/commands/node/synced.test.ts
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

add changesets
  .changeset/gold-colts-whisper.md
  .changeset/heavy-rice-chew.md
Due: none

enter the dragon
  .changeset/pre.json
Due: none

refactor
  packages/cli/src/commands/node/synced.test.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

fix repo links, missing slash
  packages/cli/package.json
  packages/sdk/base/package.json
  packages/sdk/contractkit/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk

fix broken link
  .changeset/cuddly-pillows-buy.md
  packages/sdk/connect/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
Due: sdk, wallets

Exiting Beta mode / Fix typo (#558)
  .changeset/cuddly-pillows-buy.md
  .changeset/pre.json
  packages/cli/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk, wallets

refactor: trigger upload with workflow_call
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

add semver assertion
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  scripts/assert_stable_version
Due: none

fix: lint
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

fix: telemetry doesnt require node synced
  packages/cli/src/base-l2.test.ts
Due: celocli

refactor: trigger upload with workflow_call (#560)
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  scripts/assert_stable_version
Due: none

refactor: nodeIsSyncedRaw->nodeIsSyncedRaw
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

refactor: dont export EthSyncingRpcSchema
  packages/cli/src/utils/helpers.ts
Due: celocli

fix: tests
  packages/cli/src/commands/node/synced.test.ts
Due: celocli

fixes #561 the previous code works on some version of node but more modern versions give errors so use dynamic import
  packages/cli/src/utils/checks.ts
Due: celocli

Fixes issues with using celocli with specific versions of node (20.19 and 22)
  .changeset/mean-trainers-punch.md
Due: none

fix me
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/euros.test.ts
  packages/cli/src/commands/transfer/reals.test.ts
  packages/cli/src/commands/transfer/stable.test.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/checks.ts
Due: celocli

Fix/compliance esm issue (#562)
  .changeset/mean-trainers-punch.md
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/euros.test.ts
  packages/cli/src/commands/transfer/reals.test.ts
  packages/cli/src/commands/transfer/stable.test.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/checks.ts
Due: celocli

pre
  .changeset/pre.json
Due: none

Beta mode (#564)
  .changeset/pre.json
Due: none

fix release process
  .github/workflows/release.yaml
Due: none

fix release process (#565)
  .github/workflows/release.yaml
Due: none

lock to 25
  packages/cli/package.json
  yarn.lock
Due: celocli

lock compliance
  .changeset/bright-lions-flash.md
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
