Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

refactor(contractkit): migrate simple wrappers to typed ABI generics (batch 1)
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.ts
Due: sdk

refactor(contractkit): migrate simple wrappers to typed ABI generics (batch 2)
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
Due: sdk

refactor(contractkit): migrate EpochManager wrapper to typed ABI generic
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

refactor(contractkit): migrate complex governing wrappers to typed ABI generics
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
Due: sdk

refactor(contractkit): migrate remaining wrappers to typed ABI generics
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

fix(cli): update validator deregister test
  packages/cli/src/commands/validator/deregister.test.ts
Due: celocli

refactor(contractkit): enforce compile-time type safety for all wrapper proxy calls
  packages/sdk/connect/src/viem-tx-object.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

fix: resolve SortedOracles report() from-address propagation and Anvil port collisions
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: sdk

test(contractkit): add compile-time type safety verification for typed contracts
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
Due: sdk

refactor(connect): extract receipt polling utility and add CeloContract type
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/connect/src/index.ts
  packages/sdk/connect/src/utils/receipt-polling.ts
  packages/sdk/connect/src/utils/tx-result.ts
Due: sdk

refactor(connect): rewrite transaction pipeline to remove PromiEvent
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/rpc-contract.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/connect/src/viem-tx-object.ts
Due: sdk

refactor(connect,contractkit): add getCeloContract(), ContractRef, and client property
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/connect/src/viem-tx-object.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
Due: sdk

refactor(contractkit,explorer): replace ViemContract with CeloContract/ContractRef
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
  packages/sdk/contractkit/src/address-registry.ts
  packages/sdk/contractkit/src/contract-factory-cache.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/explorer/src/sourcify.ts
Due: sdk

refactor(cli): replace getViemContract with getCeloContract
  packages/cli/src/commands/dkg/allowlist.ts
  packages/cli/src/commands/dkg/deploy.ts
  packages/cli/src/commands/dkg/get.ts
  packages/cli/src/commands/dkg/publish.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/dkg/start.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/utils/release-gold-base.ts
Due: celocli

refactor(dev-utils): replace getViemContract with getCeloContract and fix send() return type
  packages/dev-utils/src/chain-setup.ts
  packages/dev-utils/src/contracts.ts
Due: none

refactor(contractkit): remove redundant ViemContract import from SortedOracles
  packages/dev-utils/src/chain-setup.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: sdk

feat(connect)!: delete rpc-contract.ts, promi-event.ts, viem-contract.ts — BREAKING
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/connect/src/index.ts
  packages/sdk/connect/src/promi-event.ts
  packages/sdk/connect/src/rpc-contract.test.ts
  packages/sdk/connect/src/rpc-contract.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/viem-contract.ts
  packages/sdk/contractkit/src/test-utils/PromiEventStub.ts
Due: sdk

refactor: rewrite contract deployment to use viem encodeDeployData
  packages/cli/src/commands/dkg/deploy.ts
  packages/cli/tsconfig.json
  packages/dev-utils/src/contracts.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: celocli, sdk

test(contractkit): rewrite kit.test.ts for Promise-based transaction flow
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: sdk

test(cli): replace getViemContract with getCeloContract in all CLI tests
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/network/contracts.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/refund-and-finalize.test.ts
  packages/cli/src/commands/releasecelo/set-beneficiary.test.ts
  packages/cli/src/commands/releasecelo/set-can-expire.test.ts
  packages/cli/src/commands/releasecelo/set-liquidity-provision.test.ts
  packages/cli/src/commands/releasecelo/set-max-distribution.test.ts
  packages/cli/src/commands/releasecelo/show.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
Due: celocli

chore: add changeset for rpc-contract/PromiEvent removal (major @celo/connect)
  .changeset/remove-rpc-contract-promievent.md
Due: none

style(connect): fix formatting after PromiEvent/Contract removal
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/connect/src/types.ts
Due: sdk

fix(contractkit,cli): update tests and BaseWrapper for rpc-contract removal
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/network/contracts.test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: celocli, sdk

refactor(connect,contractkit): strongly type proxyCall output parsers with viem decodeFunctionResult
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/sdk/connect/src/viem-tx-object.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: celocli, sdk

refactor(contractkit): widen BaseWrapper.contract to CeloContract<TAbi>, add coercion helpers and .read type tests
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: sdk

refactor(contractkit): replace proxyCall with .read in Wave 2 wrappers (Freezer, ScoreManager, OdisPayments, FeeCurrencyDirectory, EpochRewards, Escrow, FederatedAttestations, Reserve)
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: sdk

refactor(contractkit): replace proxyCall with .read in Wave 3 wrappers (Accounts, Attestations, Election, EpochManager, LockedGold, MultiSig, SortedOracles)
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: sdk

refactor(contractkit): replace proxyCall with .read in Wave 4 wrappers (Governance, Validators, ReleaseGold, StableToken, FeeHandler)
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

refactor(contractkit): remove dead proxyCall overloads from BaseWrapper, clean up type tests
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
Due: sdk

fix(contractkit): pad bytes32 hash in Governance._getHotfixRecord for viem strict mode
  packages/sdk/contractkit/src/wrappers/Governance.ts
Due: sdk

build: add declarationMap for IDE source navigation
  packages/actions/tsconfig-base.json
  packages/dev-utils/tsconfig-base.json
  packages/typescript/tsconfig.library.json
Due: none

fix(cli): add type cast to release-gold-base mock contract
  packages/cli/src/utils/release-gold-base.ts
Due: celocli

chore: remove dead web3 code and update connect README
  packages/sdk/connect/README.md
  packages/sdk/explorer/scripts/driver.ts
Due: sdk

feat(contractkit): add buildTx and buildTxUnchecked to BaseWrapper
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/explorer/scripts/driver.ts
Due: sdk

refactor(contractkit): replace proxySend with buildTx in simple wrappers
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: sdk

refactor(contractkit): replace proxySend with buildTx in medium wrappers
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
Due: sdk

refactor(contractkit): replace proxySend with buildTx in complex wrappers
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

refactor(contractkit): remove dead proxySend/proxySendGeneric exports
  packages/sdk/contractkit/src/__type-tests__/typed-contracts.test-d.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

feat(connect,contractkit): add callContract helper and sendTx/encodeFunctionData to BaseWrapper
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/address-registry.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/explorer/src/sourcify.ts
Due: sdk

refactor(contractkit): migrate wrapper write methods to eager send (return tx hash)
  packages/sdk/contractkit/src/test-utils/utils.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk
