Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

pr reviews
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

test updates
  packages/cli/README.md
  packages/dev-utils/package.json
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
Due: celocli, sdk

fix tests
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validator/show.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/command.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: celocli, sdk

fix tests
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
Due: celocli

fix tests and remove old eslint commands (now only need top level biome lint
  packages/actions/package.json
  packages/core/package.json
  packages/sdk/base/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/utils/package.json
  packages/viem-account-ledger/package.json
Due: sdk

fix tests
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: celocli, sdk

whatever
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/contracts.test.ts
  packages/cli/src/commands/network/info.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

yalalal
  packages/cli/src/test-utils/chain-setup.ts
Due: celocli

yalalal
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/releasecelo/withdraw.ts
  packages/cli/src/commands/validator/show.test.ts
  packages/cli/src/commands/validator/status.test.ts
Due: celocli

one last time
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/show.test.ts
Due: celocli

amchai
  packages/cli/src/commands/election/activate.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

le fin
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/releasecelo/withdraw.ts
Due: celocli

constant group votes and anvil version info
  packages/cli/src/commands/election/show.test.ts
  packages/dev-utils/README.md
  packages/dev-utils/package.json
Due: celocli

maybe
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/utils/cli.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
Due: celocli, sdk

snaps
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/network/parameters.test.ts
Due: celocli

fix 690
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/election.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/exchange.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/identity.md
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/transfer.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/generate_docs.sh
Due: celocli

refactor(cli): improve election show tests
  packages/cli/src/commands/election/show.test.ts
Due: celocli

fixie
  packages/cli/src/commands/election/show.test.ts
Due: celocli

switch from repo level vars to defined in env context of workflow
  .github/workflows/ci.yml
Due: none

create conditional to not use codecov token if not called from the default branch
  .github/actions/upload-codecov/action.yml
Due: none

enable ci on fork prs (#693)
  .github/actions/upload-codecov/action.yml
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Minor Documentation and Typo Fixes (#682)
  packages/actions/README.md
  packages/actions/docs/README.md
  packages/sdk/base/src/task.ts
Due: sdk

docs(changeset): Update viem to version that includes support for celo sepolia
  .changeset/eighty-eels-mix.md
Due: none

docs(changeset): Update token signer to support celo sepolia
  .changeset/poor-dogs-ring.md
  package.json
  packages/actions/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/dev-utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

docs(changeset): Adds celo-sepolia + 'testnet' aliases for use with the node flag.
  .changeset/tangy-moments-prove.md
  packages/cli/src/base.ts
Due: celocli

docs(changeset): Adds rpc-url as alias for node
  .changeset/chatty-carpets-bet.md
Due: none

docs(changeset): Adds celo-sepolia to chain definitions
  .changeset/all-carpets-arrive.md
  packages/actions/package.json
  packages/actions/src/client.ts
  packages/cli/src/base.ts
Due: celocli

format
  packages/cli/src/base.ts
Due: celocli

Celo Sepolia Full support + dep upgrades (#695)
  .changeset/all-carpets-arrive.md
  .changeset/chatty-carpets-bet.md
  .changeset/eighty-eels-mix.md
  .changeset/poor-dogs-ring.md
  .changeset/tangy-moments-prove.md
  package.json
  packages/actions/package.json
  packages/actions/src/client.ts
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/core/package.json
  packages/dev-utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

enter beta mode
  .changeset/pre.json
Due: none

chore: remove contractkit changeset
  .changeset/gorgeous-eagles-wash.md
Due: none

feat: add a multisig:propose command
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: celocli, sdk

chore: revert MultiSig wrapper change
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

chore: regenerate docs
  docs/command-line-interface/multisig.md
Due: none

fix tests to test the actual assertion
  packages/cli/src/commands/multisig/transfer.test.ts
Due: celocli

docs(changeset): Add a multisig:propose that can propose arbitrary transactions on celo multisigs.
  .changeset/late-eggs-yawn.md
Due: none
