Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

wip
  packages/actions/src/contracts/election.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/activate.ts
Due: celocli

wip
  packages/actions/src/contracts/election.ts
  packages/cli/src/commands/election/activate.ts
Due: celocli

fix vote sim (must pass account)
  packages/actions/src/client.ts
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/governance.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: none

dev ex
  packages/cli/package.json
  packages/cli/src/transfer-stable-base.ts
Due: celocli

yes no
  packages/actions/src/contracts/governance.test.ts
Due: none

spelling and voting
  .changeset/curly-toes-pump.md
  .changeset/fresh-months-share.md
  .changeset/old-cougars-look.md
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/core/src/governing/vote.ts
Due: none

revert
  packages/cli/src/commands/config/get.test.ts
Due: celocli

change interface on getNAMEContract functions to take public and optional wallet clients
  packages/actions/src/client.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/election.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/release-celo.ts
  packages/actions/src/contracts/validators.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/getEpochInfo.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/checks.ts
Due: celocli

fix type
  packages/actions/src/contracts/accounts.ts
Due: none

Revert "revert"
  packages/cli/src/commands/config/get.test.ts
Due: celocli

fix tests, turns out that public clients need accounts too sometimes (when looking up info about self)
  packages/actions/package.json
  packages/actions/src/client.ts
  packages/actions/src/contracts/governance.test.ts
Due: none

lint
  packages/actions/typedoc.json
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

test with node 22
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

mock fs-extra for consistent config tests
  packages/cli/src/commands/config/get.test.ts
Due: celocli

use explict/keyed clients for our getContract methods (#649)
  .changeset/curly-toes-pump.md
  .changeset/fresh-months-share.md
  .changeset/old-cougars-look.md
  packages/actions/package.json
  packages/actions/src/client.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/election.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/release-celo.ts
  packages/actions/src/contracts/validators.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/actions/typedoc.json
  packages/cli/package.json
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/getEpochInfo.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/checks.ts
  packages/core/src/governing/vote.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

node 22
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

wip
  packages/cli/src/commands/election/activate.ts
Due: celocli

works??!?!?!?!
  packages/actions/package.json
  packages/actions/src/contracts/election.ts
  packages/actions/src/utils/encodeWriteContractCall.ts
  packages/actions/src/utils/presignWriteContract.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/activate.ts
  packages/cli/tsconfig.json
Due: celocli

revert tsconfig autochanged
  packages/cli/tsconfig.json
Due: celocli

fix test
  packages/cli/src/commands/election/show.test.ts
Due: celocli

bad refactor
  packages/actions/src/contracts/election.ts
Due: none

for coverage
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/activate.ts
Due: celocli

refactor
  packages/actions/package.json
  packages/actions/src/contracts/election.ts
  packages/actions/src/utils/encodeWriteContractCall.ts
  packages/actions/src/utils/presignWriteContract.ts
  packages/cli/src/commands/election/activate.ts
Due: celocli

forgotten files
  packages/cli/src/packages-to-be/actions/encodeWriteContractCall.ts
  packages/cli/src/packages-to-be/actions/presignWriteContract.ts
  packages/cli/src/packages-to-be/election.ts
Due: celocli

docs(changeset): add multiplyBigIntByPercent function
  .changeset/tasty-bikes-talk.md
  packages/sdk/base/src/index.ts
  packages/sdk/base/src/numeric.test.ts
  packages/sdk/base/src/numeric.ts
Due: sdk

working on better waiting
  packages/cli/src/base.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/packages-to-be/actions/encodeWriteContractCall.ts
  packages/cli/src/packages-to-be/actions/presignWriteContract.ts
  packages/cli/src/packages-to-be/election.ts
Due: celocli

all test must run
  packages/cli/src/commands/election/activate.test.ts
Due: celocli

Run tests on node 22 (#654)
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

seem to have some issues with install on ci
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  .nvmrc
Due: none

force install
  .github/workflows/ci.yml
Due: none

:fix install via upgrade?
  package.json
  packages/cli/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

back to node 20
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  package.json
  yarn.lock
Due: none

revert most changes to ledger deps
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  packages/cli/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  yarn.lock
Due: celocli, wallets

just to be safe since it didnt help with the issue dont change ledger deps
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
Due: wallets

yarn
  yarn.lock
Due: none

final revert
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

fix ci install issue with node-hid /node-gyp (#658)
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  .nvmrc
  yarn.lock
Due: none

save ci time by only running this check when its needed
  .github/workflows/ci.yml
Due: none

skip renovate check if no change (#659)
  .github/workflows/ci.yml
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
