Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

Update 404 links plugins.md
  docs/command-line-interface/plugins.md
Due: none

Migrate CheckBuilder to viem
  packages/cli/package.json
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
  yarn.lock
Due: celocli

wip: executable + homebrew config
  packages/cli/homebrew/Formula/celocli.rb
  packages/cli/homebrew/templates/celocli.rb
  packages/cli/package.json
  packages/cli/scripts/build-and-release-executables.ts
  yarn.lock
Due: celocli

more wip: actions
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/test.sh
  packages/cli/package.json
  packages/cli/scripts/build-and-release-executables.ts
Due: celocli

more wip: actions
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: path]
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: yarn
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: build exec
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/Formula/.gitignore
  packages/cli/homebrew/Formula/celocli.rb
  packages/cli/scripts/build-and-release-executables.js
Due: celocli

fix: build exec
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: fetch
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: yarn cmd
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: oclif pack
  .github/workflows/upload-celocli-executables.yml
Due: none

update enum with CeloToken and LockedCelo
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.test.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/transactions-uri/src/tx-uri.test.ts
Due: celocli, sdk

lockedcelo in cli
  .changeset/four-ligers-know.md
  .changeset/moody-monkeys-admire.md
  docs/command-line-interface/lockedgold.md
  docs/command-line-interface/releasecelo.md
  packages/cli/src/commands/lockedgold/delegate-info.ts
  packages/cli/src/commands/lockedgold/delegate.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/cli/src/commands/lockedgold/max-delegatees-count.ts
  packages/cli/src/commands/lockedgold/revoke-delegate.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/commands/lockedgold/withdraw.ts
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke-l2.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/authorize-l2.test.ts
  packages/cli/src/commands/releasecelo/authorize.test.ts
  packages/cli/src/commands/releasecelo/locked-gold-l2.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
Due: celocli, sdk

fix: paths
  .github/workflows/upload-celocli-executables.yml
  package.json
  packages/cli/homebrew/scripts/prepare.js
  packages/cli/homebrew/scripts/test.sh
  packages/cli/package.json
Due: celocli

fix: prebuild
  .github/workflows/upload-celocli-executables.yml
Due: none

docs
  docs/sdk/contractkit/classes/contract_cache.WrapperCache.md
  docs/sdk/contractkit/classes/mini_contract_cache.MiniContractCache.md
  docs/sdk/contractkit/classes/web3_contract_cache.Web3ContractCache.md
  docs/sdk/contractkit/classes/wrappers_Governance.GovernanceWrapper.md
  docs/sdk/contractkit/enums/base.CeloContract.md
  docs/sdk/contractkit/modules/base.md
  docs/sdk/contractkit/modules/mini_contract_cache.md
  docs/sdk/contractkit/modules/proxy.md
  docs/sdk/contractkit/modules/web3_contract_cache.md
  docs/sdk/contractkit/modules/wrappers_Governance.md
  packages/sdk/contractkit/src/wrappers/Governance.ts
Due: sdk

use celo actual for the final boss
  .github/workflows/ci.yml
Due: none

alias lockedcelo with lockedgold and celo token with goldtoken, make tests run on anvil not alfajores
  .changeset/short-elephants-grab.md
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/web3-contract-cache.test.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/governance/src/interactive-proposal-builder.ts
  packages/sdk/governance/src/proposal-builder.test.ts
Due: sdk

dont query alfajores just use a constant for the fee token... these tests dont even send it they just build it and sign it
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

docs
  docs/sdk/contractkit/classes/contract_cache.WrapperCache.md
  docs/sdk/contractkit/classes/mini_contract_cache.MiniContractCache.md
  docs/sdk/contractkit/classes/web3_contract_cache.Web3ContractCache.md
  docs/sdk/contractkit/enums/base.CeloContract.md
  docs/sdk/contractkit/modules/base.md
  docs/sdk/contractkit/modules/contract_cache.md
  docs/sdk/contractkit/modules/proxy.md
  docs/sdk/contractkit/modules/web3_contract_cache.md
Due: none

skip tests for networks down due to holseky insident for now refer to it as lockedCelo in the UI use LockedGold if we ask for locked gold (old tests need this)
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/sdk/contractkit/src/contract-cache.ts
Due: celocli, sdk

adding more tests to get coverage so my pr passes
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.test.ts
  packages/sdk/contractkit/src/web3-contract-cache.test.ts
Due: sdk

fix: paths
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: yarn script
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/prepare.js
Due: celocli

docs
  docs/sdk/contractkit/enums/base.CeloContract.md
  docs/sdk/contractkit/modules/base.md
Due: none

fix: yarn ????
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: ci flow
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: skipperino
  .github/workflows/upload-celocli-executables.yml
Due: none

rename files to new name
  packages/cli/src/commands/lockedcelo/delegate-info.test.ts
  packages/cli/src/commands/lockedcelo/delegate-info.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/lockedcelo/delegate.ts
  packages/cli/src/commands/lockedcelo/lock-l2.test.ts
  packages/cli/src/commands/lockedcelo/lock.test.ts
  packages/cli/src/commands/lockedcelo/lock.ts
  packages/cli/src/commands/lockedcelo/max-delegatees-count.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.test.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.ts
  packages/cli/src/commands/lockedcelo/show.ts
  packages/cli/src/commands/lockedcelo/unlock.test.ts
  packages/cli/src/commands/lockedcelo/unlock.ts
  packages/cli/src/commands/lockedcelo/update-delegated-amount.test.ts
  packages/cli/src/commands/lockedcelo/update-delegated-amount.ts
  packages/cli/src/commands/lockedcelo/withdraw.ts
Due: celocli

fix
  .github/workflows/upload-celocli-executables.yml
Due: none

fix
  packages/cli/homebrew/scripts/prepare.mjs
  packages/cli/package.json
Due: celocli

fix
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/prepare.mjs
Due: celocli

fix depth
  .github/workflows/upload-celocli-executables.yml
Due: none

replace lockedgold lockedcelo
  docs/command-line-interface/lockedcelo.md
  docs/sdk/contractkit/classes/wrappers_LockedGold.LockedGoldWrapper.md
  packages/cli/src/commands/account/authorize-l2.test.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/election/show-l2.test.ts
  packages/cli/src/commands/governance/revokeupvote-l2.test.ts
  packages/cli/src/commands/governance/upvote-l2.test.ts
  packages/cli/src/commands/governance/upvote.test.ts
  packages/cli/src/commands/governance/vote-l2.test.ts
  packages/cli/src/commands/governance/vote.test.ts
  packages/cli/src/commands/governance/votePartially-l2.test.ts
  packages/cli/src/commands/governance/votePartially.test.ts
  packages/cli/src/commands/lockedcelo/show.ts
  packages/cli/src/commands/lockedcelo/unlock.test.ts
  packages/cli/src/commands/validator/affilliate.test.ts
  packages/cli/src/commands/validator/deaffilliate.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/list.test.ts
  packages/cli/src/commands/validator/register-L2.test.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validatorgroup/commission.test.ts
  packages/cli/src/commands/validatorgroup/list.test.ts
  packages/cli/src/commands/validatorgroup/register.test.ts
  packages/cli/src/commands/validatorgroup/reset-slashing-multiplier.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
Due: celocli, sdk

fix commit
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: path
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: token
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: dist path
  .github/workflows/upload-celocli-executables.yml
Due: none

speed up by just doing mac x64
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/prepare.mjs
Due: celocli
