Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

Scoring (#661)
  .changeset/gentle-zebras-give.md
  .changeset/light-dancers-clap.md
  .changeset/tough-tomatoes-smell.md
  packages/actions/package.json
  packages/actions/src/contract-name.ts
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/score-manager.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.test.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/index.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.test.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.ts
  packages/actions/vitest.config.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/run.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/releasecelo/authorize.test.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/commands/validator/list.test.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register-L2.test.ts
  packages/cli/src/commands/validatorgroup/list.test.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/exchange-stable-base.ts
  packages/cli/src/packages-to-be/utils.test.ts
  packages/cli/src/packages-to-be/utils.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/release-gold-base.ts
  packages/cli/src/utils/telemetry.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/viem-account-ledger/vitest.config.ts
Due: celocli

docs(changeset): Bump to decrease min node recommendation
  .changeset/good-peas-pump.md
Due: none

docs(changeset): Bump to decrease min node recommendation (#666)
  .changeset/good-peas-pump.md
Due: none

fix: eslint + exports
  .eslintrc.js
  package.json
  packages/actions/.eslintrc.cjs
  packages/actions/package.json
  packages/actions/src/chains.ts
  packages/actions/src/client.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/election.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/registry.ts
  packages/actions/src/contracts/release-celo.ts
  packages/actions/src/contracts/score-manager.ts
  packages/actions/src/contracts/validators.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.test.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/index.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.test.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/actions/src/rpc-methods.test.ts
  packages/actions/src/rpc-methods.ts
  packages/core/.eslintrc.cjs
  packages/core/package.json
  packages/core/src/governing/index.ts
  packages/core/src/governing/vote.test.ts
  packages/core/src/governing/vote.ts
  packages/core/src/index.ts
  packages/core/src/staking/index.ts
  packages/core/src/staking/vote.test.ts
  packages/core/src/staking/vote.ts
  yarn.lock
Due: none

docs(changeset): Fixes exports/imports
  .changeset/dirty-bikes-protect.md
Due: none

fix: type
  packages/core/src/governing/vote.ts
  packages/core/src/staking/vote.ts
Due: none

fix: eslint + exports (#668)
  .changeset/dirty-bikes-protect.md
  .eslintrc.js
  package.json
  packages/actions/.eslintrc.cjs
  packages/actions/package.json
  packages/actions/src/chains.ts
  packages/actions/src/client.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/election.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/registry.ts
  packages/actions/src/contracts/release-celo.ts
  packages/actions/src/contracts/score-manager.ts
  packages/actions/src/contracts/validators.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.test.ts
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/index.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.test.ts
  packages/actions/src/multicontract-interactions/stake/staking-groups.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/actions/src/rpc-methods.test.ts
  packages/actions/src/rpc-methods.ts
  packages/core/.eslintrc.cjs
  packages/core/package.json
  packages/core/src/governing/index.ts
  packages/core/src/governing/vote.test.ts
  packages/core/src/governing/vote.ts
  packages/core/src/index.ts
  packages/core/src/staking/index.ts
  packages/core/src/staking/vote.test.ts
  packages/core/src/staking/vote.ts
  yarn.lock
Due: none

Update off-chain-data.ts
  packages/cli/src/utils/off-chain-data.ts
Due: celocli

Update telemetry.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

Create purple-squids-wait.md
  .changeset/purple-squids-wait.md
Due: none

docs(changeset): Fix ts for accounts contract to allow write commands
  .changeset/fluffy-readers-call.md
  packages/actions/src/contracts/accounts.ts
Due: none

docs(changeset): Refactor account:register to use viem
  .changeset/eleven-guests-impress.md
  packages/cli/src/commands/account/register.ts
Due: celocli

Use reusable workflow with release for provenance
  .github/workflows/release.yaml
  package.json
Due: none

Use reusable workflow with release for provenance (#670)
  .github/workflows/release.yaml
  package.json
Due: none

Remove concurrency at job level as it is defined at Workflow level
  .github/workflows/release.yaml
Due: none

Remove concurrency at job level as it is defined at Workflow level (#671)
  .github/workflows/release.yaml
Due: none

chore: biome fixes
  .github/workflows/ci.yml
  biome.json
  package.json
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/utils/checks.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/contracts.ts
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/wallets/wallet-local/src/signing.test.ts
  yarn.lock
Due: celocli, sdk, wallets

fix: yarnlock
  packages/cli/src/commands/election/run.ts
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli

fix: for some reasons this stopped compiling?
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

fix
  package.json
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

yarn.lock
  yarn.lock
Due: none

fix
  biome.json
  packages/cli/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

fmt
  .vscode/settings.json
Due: none

chore: devchain snapshots
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
Due: celocli

fix: remove as any
  packages/dev-utils/package.json
  packages/dev-utils/src/contracts.ts
  yarn.lock
Due: none

fmt
  packages/cli/src/commands/releasecelo/set-max-distribution.test.ts
  packages/cli/src/commands/releasecelo/show.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/off-chain-data.ts
  packages/sdk/base/src/result.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/rpc-caller.ts
  packages/sdk/contractkit/src/celo-tokens.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/keystores/src/keystore-base.ts
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/wallets/wallet-hsm-aws/src/aws-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-azure/src/azure-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-gcp/src/gcp-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/sdk/wallets/wallet-local/src/local-wallet.test.ts
Due: celocli, sdk, wallets

biome config
  .husky/pre-commit
  biome.json
  package.json
  yarn.lock
Due: none

fmt
  packages/actions/src/client.ts
  packages/actions/src/contracts/election.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/election/run.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/election/vote.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/hashhotfix.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/test-proposal.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/releasecelo/locked-gold.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/cli/src/commands/releasecelo/set-can-expire.test.ts
Due: celocli

chore: upgrade ledger-token-signer to 0.5.0
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  yarn.lock
Due: wallets

Create chilly-wasps-serve.md
  .changeset/chilly-wasps-serve.md
Due: none

chore: upgrade ledger-token-signer
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  yarn.lock
Due: wallets

Create unlucky-bears-love.md
  .changeset/unlucky-bears-love.md
Due: none

docs(changeset): (beta) Fix gas estimation with celo transfer with gas tokens
  .changeset/green-terms-carry.md
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/transfer-stable-base.ts
Due: celocli

Fix Typo in Telemetry Log and Update Deprecation Notice Message (#677)
  .changeset/purple-squids-wait.md
  packages/cli/src/utils/off-chain-data.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

Fix gas estimation with celo transfer feecurrency (#676)
  .changeset/green-terms-carry.md
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/transfer-stable-base.ts
Due: celocli
