Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

refactor(cli): migrate governance commands to viem
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/build-proposals.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/commands/governance/dequeue.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/hashhotfix.test.ts
  packages/cli/src/commands/governance/preparehotfix.test.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/governance/revokeupvote.ts
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/show.ts
  packages/cli/src/commands/governance/test-proposal.test.ts
  packages/cli/src/commands/governance/upvote.test.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.test.ts
  packages/cli/src/commands/governance/votePartially.test.ts
  packages/cli/src/commands/governance/votePartially.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/governance/withdraw.ts
Due: celocli

refactor(cli): migrate lockedcelo, multisig, network, oracle, transfer commands to viem
  packages/cli/src/commands/identity/withdraw-attestation-rewards.ts
  packages/cli/src/commands/lockedcelo/delegate-info.test.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/lockedcelo/delegate.ts
  packages/cli/src/commands/lockedcelo/lock.test.ts
  packages/cli/src/commands/lockedcelo/lock.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.test.ts
  packages/cli/src/commands/lockedcelo/revoke-delegate.ts
  packages/cli/src/commands/lockedcelo/unlock.test.ts
  packages/cli/src/commands/lockedcelo/unlock.ts
  packages/cli/src/commands/lockedcelo/update-delegated-amount.test.ts
  packages/cli/src/commands/lockedcelo/update-delegated-amount.ts
  packages/cli/src/commands/lockedcelo/withdraw.ts
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/network/contracts.test.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/network/info.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/network/whitelist.test.ts
  packages/cli/src/commands/oracle/remove-expired-reports.ts
  packages/cli/src/commands/oracle/report.ts
  packages/cli/src/commands/rewards/show.test.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/euros.test.ts
  packages/cli/src/commands/transfer/reals.test.ts
  packages/cli/src/commands/transfer/stable.test.ts
Due: celocli

fix: BigInt-safe JSON.stringify in SimpleHttpProvider + activate snapshot
  packages/cli/src/commands/election/activate.test.ts
  packages/dev-utils/src/test-utils.ts
Due: celocli

fix: correct activate snapshot and increase Validators test timeouts
  packages/cli/src/commands/election/activate.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
Due: celocli, sdk

Add deposit & withdraw for OP.
  packages/cli/docs/bridge.md
  packages/cli/package.json
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/deposit.ts
  packages/cli/src/commands/bridge/withdraw-finalize.ts
  packages/cli/src/commands/bridge/withdraw-init.ts
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/commands/bridge/withdraw-status.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
  packages/cli/src/utils/bridge.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

Formatting.
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/deposit.ts
  packages/cli/src/commands/bridge/withdraw-finalize.ts
  packages/cli/src/commands/bridge/withdraw-init.ts
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/commands/bridge/withdraw-status.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

Update packages/cli/docs/bridge.md
  packages/cli/docs/bridge.md
Due: celocli

Copilot CR.
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/deposit.ts
  packages/cli/src/commands/bridge/withdraw-finalize.ts
  packages/cli/src/commands/bridge/withdraw-init.ts
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/commands/bridge/withdraw-status.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

Add as any to unblock CI.
  packages/cli/src/utils/bridge.ts
Due: celocli

Formatting.
  packages/cli/src/utils/bridge.ts
Due: celocli

Fix CI.
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
Due: celocli

Formatting.
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
Due: celocli

Linting.
  packages/cli/src/utils/bridge.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

Handle edge case. Increase coverage.
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/utils/bridge.test.ts
Due: celocli

Formatting.
  packages/cli/src/commands/bridge/withdraw-prove.ts
Due: celocli

Add --simulate flag to governance:propose for forked-node simulation
  packages/cli/src/base.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/packages-to-be/public-client.ts
  packages/cli/src/utils/governance.ts
Due: celocli

Note --simulate use case in flag description
  packages/cli/src/commands/governance/propose.ts
Due: celocli

Use StrongAddress for governance address (repo convention)
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/governance.ts
Due: celocli

Pass governance address into checkProposal instead of refetching
  packages/cli/src/commands/governance/build-proposal.ts
  packages/cli/src/commands/governance/hashhotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/governance.ts
Due: celocli

Restore inline comments in createCeloPublicClient
  packages/cli/src/packages-to-be/public-client.ts
Due: celocli

Fail simulation when proposal tx has no 'to' address
  packages/cli/src/utils/governance.ts
Due: celocli

Add changeset for --simulate flag
  .changeset/celocli-governance-propose-simulate.md
Due: none

Add --simulate flag to governance:propose (#775)
  .changeset/celocli-governance-propose-simulate.md
  packages/cli/src/base.ts
  packages/cli/src/commands/governance/build-proposal.ts
  packages/cli/src/commands/governance/hashhotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/packages-to-be/public-client.ts
  packages/cli/src/utils/governance.ts
Due: celocli

chore: replace husky with lefthook
  .husky/pre-commit
  .husky/pre-push
  lefthook.yml
  package.json
  yarn.lock
Due: none

Migrate workflows Openbao and OIDC publish
  .github/actions/upload-codecov/action.yml
  .github/workflows/release.yaml
Due: none

fix(connect,contractkit,utils): correct fee currency, fee math, BigInt and checksum regressions
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/contract-types.ts
  packages/sdk/contractkit/src/setupForKits.ts
  packages/sdk/utils/src/address.ts
Due: sdk

fix(utils,connect): minor review cleanups from viem migration audit
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/utils/src/ecies.ts
  packages/sdk/utils/src/signatureUtils.ts
Due: sdk

chore(wallet-hsm-aws): align viem devDependency with workspace (~2.33.2)
  packages/sdk/wallets/wallet-hsm-aws/package.json
  yarn.lock
Due: wallets

fix(contractkit): repair IPC provider framing, add ws(s) support and HTTP error status handling
  packages/sdk/contractkit/src/setupForKits.ts
Due: sdk

fix(contractkit): correct wrapper regressions found in viem migration audit
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
Due: sdk

chore(cli): untrack runtime-generated governance test fixtures
  packages/cli/src/commands/governance/executehotfix-l2-transactions.json
  packages/cli/src/commands/governance/hashhotfix-l2-transactions.json
Due: celocli

style(contractkit): apply biome formatting
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
Due: sdk

test(contractkit): restore weakened test semantics; fix getName blockNumber
  packages/sdk/contractkit/src/contract-factory-cache.test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
Due: sdk

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
