Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

test(connect): extract abi-coder tests to separate file and add bool/bytesN/decodeLog edge cases
  packages/sdk/connect/src/abi-coder.test.ts
  packages/sdk/connect/src/connection.test.ts
Due: sdk

refactor(connect): extract enrichAbiWithSignatures and buildEventsMap helpers in rpc-contract constructor
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

refactor(connect): remove dead _originalProviderOwner field and simplify Connection constructor to accept Provider directly
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(contractkit): extract inline type to DeployResult interface in SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: sdk

refactor(contractkit): extract createMockProvider helper in contract-cache.test.ts
  packages/sdk/contractkit/src/contract-cache.test.ts
Due: sdk

fix(governance): surface require errors in requireABI instead of silently catching
  packages/sdk/governance/src/interactive-proposal-builder.ts
Due: sdk

refactor(connect): rename abi-coder.ts to viem-abi-coder.ts for clarity
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/promi-event.ts
  packages/sdk/connect/src/rpc-contract.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
  packages/sdk/connect/src/viem-abi-coder.test.ts
  packages/sdk/connect/src/viem-abi-coder.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: sdk

refactor(wallet-hsm-aws): use parseEther from viem instead of raw wei string constant
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-aws/src/aws-hsm-wallet.test.ts
  yarn.lock
Due: wallets

fix(connect): restore isPresent and isEmpty re-exports from connection.ts (needed by wallet-base)
  packages/sdk/connect/src/connection.ts
Due: sdk

fix(contractkit): pass providerOwner.currentProvider to Connection in contract-factory-cache.test.ts
  packages/sdk/contractkit/src/contract-factory-cache.test.ts
Due: sdk

fix(cli): type setupSafeContracts param as ProviderOwner instead of any
  packages/cli/src/test-utils/multisigUtils.ts
Due: celocli

refactor(cli): extract RpcBlockResponse interface in multisigUtils
  packages/cli/src/test-utils/multisigUtils.ts
Due: celocli

refactor(contractkit): use keccak256 from viem in Attestations.test.ts
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
Due: sdk

refactor(contractkit): use viem encodePacked+keccak256 in Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
Due: sdk

test(contractkit): restore API key assertion in newKitWithApiKey test
  packages/sdk/contractkit/src/kit.test.ts
Due: sdk

docs(contractkit): add comment explaining BN-to-hex conversion in keccak256
  packages/sdk/contractkit/src/wrappers/Accounts.ts
Due: sdk

docs(connect): improve bigintToString comment explaining web3 compat
  packages/sdk/connect/src/viem-abi-coder.ts
Due: sdk

refactor(connect): use encodeAbiParameters directly in deploy() for consistency
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

style: biome format fixes
  packages/sdk/connect/src/rpc-contract.ts
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
Due: sdk

test(contractkit): restore exact block number assertions in EpochManager tests
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
Due: sdk

refactor(wallet-local): simplify signing.test.ts, remove web3-like client mock
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: wallets

test(connect): add comprehensive unit tests for RpcContract (40 tests)
  packages/sdk/connect/src/rpc-contract.test.ts
Due: sdk

refactor(contractkit): remove unnecessary generic T from BaseWrapper/Erc20Wrapper hierarchy
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: sdk, wallets

style: biome format after generic removal
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

fix(contractkit): pad address to bytes32 in Escrow.test.ts viem encodePacked call
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
Due: sdk

style: biome format Escrow test
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
Due: sdk

docs(connect): add comment explaining why coerceArgs is needed in RpcContract
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

docs(contractkit): document SimpleHttpProvider host usage and dedup rationale
  packages/sdk/contractkit/src/setupForKits.ts
Due: sdk

style(contractkit): biome format + fix @ts-expect-error in EpochManager test
  packages/sdk/contractkit/src/address-registry.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.test.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

refactor(cli): migrate CLI from web3 Contract to viem-native ViemContract
  packages/cli/src/commands/dkg/allowlist.ts
  packages/cli/src/commands/dkg/deploy.ts
  packages/cli/src/commands/dkg/get.ts
  packages/cli/src/commands/dkg/publish.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/dkg/start.ts
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/executehotfix.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/network/contracts.test.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/refund-and-finalize.test.ts
  packages/cli/src/commands/releasecelo/set-beneficiary.test.ts
  packages/cli/src/commands/releasecelo/set-can-expire.test.ts
  packages/cli/src/commands/releasecelo/set-liquidity-provision.test.ts
  packages/cli/src/commands/releasecelo/set-max-distribution.test.ts
  packages/cli/src/commands/releasecelo/show.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/cli/src/utils/release-gold-base.ts
Due: celocli

refactor(dev-utils,explorer): migrate from web3 Contract to viem-native ViemContract
  packages/dev-utils/src/chain-setup.ts
  packages/dev-utils/src/contracts.ts
  packages/sdk/explorer/src/base.ts
  packages/sdk/explorer/src/sourcify.ts
Due: sdk

refactor(contractkit): migrate remaining tests + deprecate createContract
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
Due: sdk

chore: add changeset for viem-native contract migration
  .changeset/viem-native-migration.md
Due: none

fix(connect,governance): enrich ViemContract ABI with signatures + migrate ProposalBuilder
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/sdk/connect/src/connection.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: celocli, sdk

refactor(connect): make ViemContract and createViemTxObject generic over ABI type
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/viem-contract.ts
  packages/sdk/connect/src/viem-tx-object.ts
Due: sdk

refactor(contractkit): add typed overloads to BaseWrapper proxyCall/proxySend
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
Due: sdk

refactor(contractkit): add TypedContractABIs map and ContractABI utility type
  packages/sdk/contractkit/src/contract-factory-cache.ts
Due: sdk

refactor(contractkit): migrate token wrapper hierarchy to typed ABI generics
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
Due: sdk
