Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

breaking (remove exchange commands) (#716)
  .changeset/itchy-beds-stand.md
  packages/cli/package.json
  packages/cli/src/commands/exchange/celo.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/euros.ts
  packages/cli/src/commands/exchange/reals.ts
  packages/cli/src/commands/exchange/show.ts
  packages/cli/src/commands/exchange/stable.ts
  packages/cli/src/exchange-stable-base.ts
  packages/cli/src/utils/cli.test.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/mento-broker-adaptor.ts
  yarn.lock
Due: celocli

done
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

http 200 is to inside baseball
  packages/cli/src/utils/checks.ts
Due: celocli

docs(changeset): governance:propose now prevents submitting a descriptionUrl that does not exist.
  .changeset/evil-facts-join.md
Due: none

test
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

oh no
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/checks.ts
Due: celocli

be safe with GET
  packages/cli/src/utils/checks.ts
Due: celocli

tests
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/checks.ts
Due: celocli

Require proposals description urls to return real url (#717)
  .changeset/evil-facts-join.md
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/checks.ts
Due: celocli

docs(changeset): Removes offchain-read and offchain-write commands. These have been in deprecation for a year with no contestation. The follow the deprecated cip8 spec.
  .changeset/busy-buttons-admire.md
  packages/cli/package.json
  packages/cli/src/commands/account/offchain-read.ts
  packages/cli/src/commands/account/offchain-write.ts
  packages/cli/src/utils/off-chain-data.ts
  yarn.lock
Due: celocli

breaking: Removes offchain-read and offchain-write commands. (#719)
  .changeset/busy-buttons-admire.md
  packages/cli/package.json
  packages/cli/src/commands/account/offchain-read.ts
  packages/cli/src/commands/account/offchain-write.ts
  packages/cli/src/utils/off-chain-data.ts
  yarn.lock
Due: celocli

docs(changeset): Bump Dependencies
  .changeset/soft-webs-kneel.md
  .github/actions/sync-workspace/action.yml
  .github/workflows/ci.yml
  package.json
  packages/actions/package.json
  packages/cli/package.json
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/core/package.json
  packages/dev-utils/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-hsm/src/ber-utils.ts
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

use full sha
  .github/workflows/ci.yml
Due: none

better tests, fewer changes
  packages/actions/package.json
  packages/cli/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  packages/sdk/wallets/wallet-local/src/local-wallet.test.ts
  packages/viem-account-ledger/src/utils.test.ts
  yarn.lock
Due: celocli, sdk, wallets

lol
  packages/viem-account-ledger/src/utils.test.ts
Due: none

no upgrades that break
  packages/sdk/phone-utils/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: sdk, wallets

fix: adjust ledger tests to remove alfajores tokens
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/utils.test.ts
  yarn.lock
Due: wallets

upgrade deps
  packages/actions/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

fix some tests
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/utils.test.ts
  yarn.lock
Due: wallets

revert checks added for patched bug
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

docs(changeset): Removes checks for validation checks for elected accounts when switching epochs
  .changeset/early-windows-mate.md
Due: none

revert checks added for patched bug (#722)
  .changeset/early-windows-mate.md
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

fix flakey tests
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/test-utils/deterministic-test-helpers.ts
Due: celocli

fix flakey tests
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/test-utils/deterministic-test-helpers.ts
Due: celocli

upgrades
  package.json
  packages/cli/package.json
  packages/sdk/transactions-uri/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk

update signer tests
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/utils.test.ts
  yarn.lock
Due: wallets

fix flakey tests (with claude) (#724)
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/governance/dequeue.test.ts
  packages/cli/src/test-utils/deterministic-test-helpers.ts
Due: celocli

lint
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

migrates network:parameters to viem
  packages/actions/src/contract-name.ts
  packages/actions/src/contracts/reserve.ts
  packages/actions/src/contracts/sorted-oracles.ts
  packages/cli/src/commands/network/parameters.ts
  packages/cli/src/utils/duration.ts
  packages/cli/src/utils/network.ts
Due: celocli

fcd
  packages/actions/src/contracts/reserve.ts
  packages/actions/src/contracts/sorted-oracles.ts
  packages/cli/src/utils/duration.ts
  packages/cli/src/utils/network.ts
Due: celocli

some values were still assuming 5 second block time
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/utils/network.ts
Due: celocli

fix: npm-publish workflow bump
  .github/workflows/release.yaml
Due: none

fix: npm-publish workflow bump (#728)
  .github/workflows/release.yaml
Due: none

Revert "fix: npm-publish workflow bump (#728)"
  .github/workflows/release.yaml
Due: none

Revert "fix: npm-publish workflow bump" (#729)
  .github/workflows/release.yaml
Due: none

fcd
  .changeset/pre.json
Due: none

enter publish mode (#730)
  .changeset/pre.json
Due: none

fix auto doc
  .github/workflows/open-docs-pr.yml
Due: none

correct directory
  .github/workflows/open-docs-pr.yml
Due: none

add frontmatter
  .github/workflows/open-docs-pr.yml
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
