Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

chore: revert .vscode/extensions.json to master version
  .vscode/extensions.json
Due: none

fix: use resilient error assertions in contractkit tests
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
Due: sdk

fix: replace console.info with debug in ledger wallet and fix wallet-local test
  .changeset/fix-ledger-console-noise.md
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: wallets

fix: remove debug console.log statements from lockedcelo delegate command
  .changeset/remove-delegate-debug-logs.md
  packages/cli/src/commands/lockedcelo/delegate.ts
Due: celocli

refactor(contractkit): added explicit return types to wrapper methods
  .changeset/strong-typing-contractkit.md
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
  packages/sdk/contractkit/src/wrappers/CeloTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/EpochRewards.ts
  packages/sdk/contractkit/src/wrappers/Erc20Wrapper.ts
  packages/sdk/contractkit/src/wrappers/Escrow.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
  packages/sdk/contractkit/src/wrappers/FeeHandler.ts
  packages/sdk/contractkit/src/wrappers/Freezer.ts
  packages/sdk/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Reserve.ts
  packages/sdk/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

fix(contractkit): correct type annotations for ReleaseGold wrapper methods
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
Due: sdk

refactor(wallet-base): remove dead 'Web3 removed' comment in signing-utils
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: wallets

refactor(contractkit): rename web3ContractCache to nativeContractCache in test
  packages/sdk/contractkit/src/contract-cache.test.ts
Due: sdk

refactor(contractkit): make getProviderForKit options param optional
  packages/sdk/contractkit/src/contract-cache.test.ts
  packages/sdk/contractkit/src/setupForKits.ts
Due: sdk

fix(contractkit): update stale cUSD reference to USDm in Accounts test comment
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
Due: sdk

fix(connect): throw on unsupported bytesN value types and deduplicate Buffer.from
  packages/sdk/connect/src/abi-coder.ts
Due: sdk

fix(connect): remove unnecessary | null from topics array type in rpc-contract
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

docs(connect): add comments explaining magic numbers in deploy test
  packages/sdk/connect/src/connection.test.ts
Due: sdk

docs(utils): fix misleading 'Alias' comment on sha3 function
  packages/sdk/utils/src/solidity.ts
Due: sdk

refactor(utils): remove unnecessary intermediate variable in soliditySha3
  packages/sdk/utils/src/solidity.ts
Due: sdk

refactor(contractkit): rename _web3Contracts to _contracts across codebase
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/ScoreManager.test.ts
  packages/sdk/explorer/src/base.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

refactor(connect): fix naming inconsistency in estimateGas local variables
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(connect): deduplicate isEmpty/isPresent into abi-coder as canonical location
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
Due: sdk

refactor(connect): deduplicate pollForReceipt — use pollForReceiptHelper from promi-event
  packages/sdk/connect/src/utils/tx-result.ts
Due: sdk

refactor(explorer): replace inline require('crypto') with proper import in sourcify.test
  packages/sdk/explorer/src/sourcify.test.ts
Due: sdk

docs(connect): add explanatory comment to empty catch block in rpc-contract event decoding
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

refactor(cli): rename leftover web3 params to providerOwner in CLI utility files
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/cli/src/utils/safe.ts
Due: celocli

refactor(connect): rename _originalWeb3 to _originalProviderOwner in Connection
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(connect): remove redundant 'as Provider' casts on _provider
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(connect): use viem toHex instead of manual hex conversion in getStorageAt
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(connect): extract defaultGasEstimator and defaultCaller as private methods
  packages/sdk/connect/src/connection.ts
Due: sdk

refactor(contractkit): remove unnecessary 'as AbiItem[]' cast in findInitializeAbi
  packages/sdk/contractkit/src/proxy.ts
Due: sdk

refactor(connect): extract GetLogsParams interface from inline type in getPastEvents
  packages/sdk/connect/src/rpc-contract.ts
Due: sdk

refactor(contractkit): replace raw wei strings with parseEther in Accounts and Election tests
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
Due: sdk

refactor(wallet-hsm-aws): replace raw wei strings with named constant in test
  packages/sdk/wallets/wallet-hsm-aws/src/aws-hsm-wallet.test.ts
Due: wallets

fix(contractkit): fix proxy.ts findInitializeAbi — move cast to return type instead of array
  packages/sdk/connect/src/utils/tx-params-normalizer.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/contractkit/src/proxy.ts
Due: sdk

refactor(connect): replace fixed-interval polling with exponential backoff in pollForReceiptHelper
  packages/sdk/connect/src/promi-event.ts
Due: sdk

refactor(connect): type _provider as CeloProvider and remove unnecessary casts
  packages/cli/src/test-utils/cliUtils.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/promi-event.ts
Due: celocli, sdk

style: format fixes for providerOwner rename (biome line wrapping)
  packages/cli/src/base.test.ts
  packages/cli/src/commands/account/register.test.ts
  packages/cli/src/commands/account/set-name.test.ts
  packages/cli/src/commands/election/revoke.test.ts
  packages/cli/src/commands/election/vote.test.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/preparehotfix.test.ts
  packages/cli/src/commands/governance/revokeupvote.test.ts
  packages/cli/src/commands/lockedcelo/delegate.test.ts
  packages/cli/src/commands/lockedcelo/unlock.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/network/info.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/rewards/show.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validatorgroup/commission.test.ts
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
Due: celocli, sdk

refactor(contractkit): use parseEther for wei values in EpochManager, Escrow, and Election tests
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
Due: sdk

fix(connect): fix CeloTx type — remove number from `from` field, add bigint to `gas` field, remove unused Sign interface
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.ts
Due: sdk

refactor(connect): remove unused re-exports from connection.ts — keep only viemAbiCoder
  packages/sdk/connect/src/connection.ts
Due: sdk
