Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

fml
  .github/workflows/upload-celocli-executables.yml
Due: none

???
  .github/workflows/upload-celocli-executables.yml
Due: none

fork?
  .github/workflows/upload-celocli-executables.yml
Due: none

forgot \
  .github/workflows/upload-celocli-executables.yml
Due: none

pre
  .changeset/pre.json
Due: none

Fix failing tests, add more coverage, refactor how epoch:* commands are handling errors
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/finish.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/epochs/process-groups.ts
  packages/cli/src/commands/epochs/start.test.ts
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.test.ts
  packages/cli/src/commands/epochs/switch.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

Start Beta Mode again (#545)
  .changeset/pre.json
Due: none

fix EpochManager.test.ts
  packages/sdk/contractkit/src/test-utils/utils.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

yarn docs
  docs/command-line-interface/epochs.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/test_utils_utils.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
Due: none

fix: allow users to use different apps than celo or ethereum
  .changeset/sharp-fishes-allow.md
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: wallets

fix: allow users to use different apps than celo or ethereum
  .changeset/yellow-mails-flash.md
  packages/viem-account-ledger/src/utils.test.ts
  packages/viem-account-ledger/src/utils.ts
Due: none

test for other apps
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: wallets

fix: allow users to use different apps than celo or ethereum (#544)
  .changeset/sharp-fishes-allow.md
  .changeset/yellow-mails-flash.md
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/viem-account-ledger/src/utils.test.ts
  packages/viem-account-ledger/src/utils.ts
Due: wallets

update workflows to use step security maintained action
  .github/workflows/ci.yml
Due: none

update workflows to use step security maintained action (#546)
  .github/workflows/ci.yml
Due: none

remove TODO and add a check for groups processing
  packages/cli/src/commands/epochs/process-groups.test.ts
Due: celocli

fix build
  packages/cli/src/commands/epochs/process-groups.test.ts
Due: celocli

Add EpochManager processGroups function (#533)
  .changeset/polite-cheetahs-yell.md
  docs/command-line-interface/epochs.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/test_utils_utils.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/finish.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/epochs/process-groups.ts
  packages/cli/src/commands/epochs/start.test.ts
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.ts
  packages/sdk/contractkit/src/test-utils/utils.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

Hide extra output, remove feedback postrun hook
  packages/cli/package.json
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/hooks/postrun/feedback.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

changeset
  .changeset/healthy-poets-agree.md
Due: none

add a claryfing comment on the condition
  packages/cli/src/base.ts
Due: celocli

fix: pr?
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: at least open pr on fork?
  .github/workflows/upload-celocli-executables.yml
Due: none

push to fork
  .github/workflows/upload-celocli-executables.yml
Due: none

fix
  .github/workflows/upload-celocli-executables.yml
Due: none

better pr title
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: remove unused caveats
  packages/cli/homebrew/templates/celocli.rb
Due: celocli

commit convention
  .github/workflows/upload-celocli-executables.yml
Due: none

cleaup script and readme
  packages/cli/README.md
  packages/cli/homebrew/scripts/cleanup.sh
Due: celocli

fix pkg json description
  packages/cli/package.json
Due: celocli

homebrew checklist
  packages/cli/homebrew/scripts/test.sh
Due: celocli

cleanup
  docs/command-line-interface/commands.md
  docs/command-line-interface/plugins.md
  package.json
  packages/cli/package.json
  yarn.lock
Due: celocli

Update .github/workflows/release.yaml
  .github/workflows/release.yaml
Due: none

changeset
  .changeset/rude-mayflies-itch.md
Due: none

force version
  .github/workflows/upload-celocli-executables.yml
Due: none

example usage
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/cleanup.sh
Due: celocli

more comments
  .github/workflows/upload-celocli-executables.yml
Due: none

Hide extra output, remove feedback postrun hook (#549)
  .changeset/healthy-poets-agree.md
  packages/cli/package.json
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/hooks/postrun/feedback.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

more stable commit fetching
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/prepare.mjs
Due: celocli
