Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

fix me
  packages/cli/package.json
Due: celocli

yolo
  yarn.lock
Due: none

is compliance 27 broken? (#567)
  .changeset/bright-lions-flash.md
  packages/cli/package.json
  yarn.lock
Due: celocli

fix: actually proper yaml
  .github/workflows/release.yaml
Due: none

fix: actually proper yaml (#568)
  .github/workflows/release.yaml
Due: none

prepare 6.2.1
  .changeset/pre.json
Due: none

run release to ensure it works
  .github/workflows/release.yaml
Due: none

dont run if not released, and only open docs prs for latest celocli
  .github/workflows/release.yaml
Due: none

is it a string
  .github/workflows/release.yaml
Due: none

remove branch
  .github/workflows/release.yaml
Due: none

hardcode
  .github/workflows/release.yaml
Due: none

remove branch twice
  .github/workflows/release.yaml
Due: none

better var name
  .github/workflows/release.yaml
Due: none

prepare 6.2.1 (#571)
  .changeset/pre.json
  .github/workflows/release.yaml
Due: none

ci: checkout the scripts folder
  .github/workflows/release.yaml
Due: none

modify to test
  .github/workflows/release.yaml
Due: none

sparser
  .github/workflows/release.yaml
Due: none

ci: checkout the scripts folder (#576)
  .github/workflows/release.yaml
Due: none

CR fixes + lots of other fixes
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/utils/cli.ts
Due: celocli

Update packages/cli/src/utils/cli.ts
  packages/cli/src/utils/cli.ts
Due: celocli

Migrate account:balance to viem
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/utils/cli.ts
Due: celocli

cr fix
  packages/cli/src/commands/account/balance.ts
Due: celocli

Migrate account:balance to viem (#578)
  packages/cli/src/base.ts
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/utils/cli.ts
Due: celocli

add command to view info about epoch
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/contracts.ts
Due: celocli

cs
  .changeset/short-cobras-deny.md
Due: none

ci: big refactor
  .github/workflows/upload-celocli-executables.yml
Due: none

EpochManager switch fix
  packages/cli/DEVELOP.md
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: celocli, sdk

ci: fix for windows
  .github/workflows/upload-celocli-executables.yml
Due: none

ci: fix syntax
  .github/workflows/upload-celocli-executables.yml
Due: none

ci: more variants
  .github/workflows/upload-celocli-executables.yml
Due: none

extract epoch info to function, add more tests
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/packages-to-be/getEpochInfo.ts
Due: celocli

fixes findClaim to fetch latest not first
  .changeset/hungry-bulldogs-smash.md
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/metadata-claims/src/metadata.ts
Due: sdk

update docs
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
Due: none

chore: move doc generation to happen at release instead of with each pr. add the cli version number to the doc link
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/dkg.md
  docs/command-line-interface/election.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/exchange.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/identity.md
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/transfer.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/package.json
Due: celocli

fixes findClaim to fetch latest not first (#584)
  .changeset/hungry-bulldogs-smash.md
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/metadata-claims/src/metadata.ts
Due: sdk

Docs updated
  docs/sdk/contractkit/classes/wrappers_Validators.ValidatorsWrapper.md
  docs/sdk/contractkit/modules/wrappers_Validators.md
Due: none

Create fuzzy-horses-hide.md
  .changeset/fuzzy-horses-hide.md
Due: none

when we create a changeset it will now automatically commit the file with message like 'docs(changeset): <message>'
  .changeset/config.json
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
