Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

rerunable tests
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
Due: celocli

docs
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/dkg.md
  docs/command-line-interface/election.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/exchange.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/identity.md
  docs/command-line-interface/lockedgold.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/transfer.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/config/get.test.ts
Due: celocli

changesets
  .changeset/healthy-days-reply.md
  .changeset/kind-cups-reflect.md
  .changeset/nasty-feet-clean.md
  .changeset/neat-seahorses-admire.md
  .changeset/yellow-cameras-talk.md
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: wallets

docs
  docs/sdk/base/enums/account.DerivationPathAliases.md
  docs/sdk/base/enums/account.MnemonicLanguages.md
  docs/sdk/base/enums/account.MnemonicStrength.md
  docs/sdk/base/interfaces/account.Bip39.md
  docs/sdk/base/modules/account.md
  docs/sdk/base/modules/index.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicLanguages.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicStrength.md
  docs/sdk/cryptographic-utils/interfaces/account.Bip39.md
  docs/sdk/cryptographic-utils/modules/account.md
  docs/sdk/wallet-ledger/classes/ledger_wallet.LedgerWallet.md
  docs/sdk/wallet-ledger/enums/ledger_wallet.AddressValidation.md
  docs/sdk/wallet-ledger/modules/ledger_wallet.md
Due: none

fix tests to not affect other tests
  packages/cli/src/base-l2.test.ts
Due: celocli

expand on breaking change
  .changeset/nasty-feet-clean.md
Due: none

dont show ledger options for commands that dont use tit
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/election.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/lockedgold.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/src/utils/flags.ts
Due: celocli

codecov npm is sunset, using the githubaction
  .changeset/pre.json
  package.json
Due: none

upgrade actions and, remove the unused truffle contract
  .github/actions/upload-codecov/action.yml
  .github/workflows/containers.yml
  packages/sdk/contractkit/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  yarn.lock
Due: sdk, wallets

some versions bumps that seem safe
  package.json
  packages/cli/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

upgrade dev dependencies
  package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/docs/viem-account-ledger/README.md
  packages/docs/viem-account-ledger/index/README.md
  packages/docs/viem-account-ledger/ledger-to-account/README.md
  packages/docs/viem-account-ledger/ledger-to-account/functions/ledgerToAccount.md
  packages/docs/viem-account-ledger/ledger-to-account/type-aliases/LedgerAccount.md
  packages/docs/viem-account-ledger/ledger-to-account/variables/CELO_BASE_DERIVATION_PATH.md
  packages/docs/viem-account-ledger/ledger-to-account/variables/DEFAULT_DERIVATION_PATH.md
  packages/docs/viem-account-ledger/ledger-to-account/variables/ETH_DERIVATION_PATH_BASE.md
  packages/docs/viem-account-ledger/modules.md
  packages/docs/viem-account-ledger/modules/index.md
  packages/docs/viem-account-ledger/modules/ledger_to_account.md
  packages/sdk/contractkit/package.json
  packages/sdk/keystores/package.json
  packages/sdk/keystores/src/file-keystore.test.ts
  packages/sdk/metadata-claims/package.json
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
  packages/sdk/wallets/wallet-ledger/package.json
  packages/typescript/tsconfig.library.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

lint
  package.json
  packages/cli/src/commands/account/list.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/lockedgold/delegate.test.ts
  packages/cli/src/commands/lockedgold/revoke-delegate.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/releasecelo/locked-gold-l2.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.test.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/cli/src/commands/releasecelo/withdraw-l2.test.ts
  packages/cli/src/commands/releasecelo/withdraw.test.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/off-chain-data.ts
  packages/sdk/base/src/result.ts
  packages/sdk/connect/src/celo-provider.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/rpc-caller.ts
  packages/sdk/contractkit/src/celo-tokens.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/BaseSlasher.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/wallets/wallet-hsm-aws/src/aws-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-azure/src/azure-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-hsm-gcp/src/gcp-hsm-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-local/src/local-wallet.test.ts
  yarn.lock
Due: celocli, sdk, wallets

reverse out of ts bump
  packages/cli/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/typescript/tsconfig.library.json
  yarn.lock
Due: celocli, sdk, wallets

yes lets goo
  package.json
  packages/cli/package.json
  packages/cli/src/commands/governance/execute-l2.test.ts
  packages/cli/src/commands/governance/executehotfix-l2.test.ts
  packages/cli/src/commands/governance/hashhotfix-l2.test.ts
  packages/cli/src/commands/governance/show-l2.test.ts
  packages/cli/src/commands/governance/test-proposal-l2.test.ts
  packages/cli/src/test-utils/setup.global.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/dev-utils/src/ganache-setup.ts
  packages/sdk/contractkit/src/test-utils/setup.global.ts
  packages/sdk/keystores/src/file-keystore.test.ts
  packages/sdk/keystores/src/file-keystore.ts
  packages/sdk/network-utils/scripts/fetch_timezones.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  yarn.lock
Due: celocli, sdk, wallets

bump ethereum utils
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/connect/package.json
  packages/sdk/governance/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

Fix typos & broken links
  README.md
Due: none

dont skip tests,
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
  packages/viem-account-ledger/package.json
Due: wallets

tiny bump
  packages/cli/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

remove random bytes, it is not used
  packages/cli/package.json
  yarn.lock
Due: celocli

action and human duration
  .github/workflows/ci.yml
  packages/cli/package.json
Due: celocli

ammend
  packages/cli/package.json
  yarn.lock
Due: celocli

upgrade fp-ts
  packages/sdk/contractkit/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/utils/package.json
  yarn.lock
Due: sdk

remove logging of session key encrypted. this doesnt seem like something we should be doing
  packages/sdk/cryptographic-utils/src/commentEncryption.ts
Due: sdk

two tiny dep upgrades, changesets
  .changeset/early-sloths-approve.md
  package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

cipher
  .changeset/brave-brooms-report.md
  packages/sdk/base/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  yarn.lock
Due: sdk, wallets

fix import
  packages/sdk/cryptographic-utils/src/commentEncryption.ts
Due: sdk

fix import
  packages/sdk/utils/src/ecies.test.ts
Due: sdk

fix max listeners warning for lock test. also add actual expectations.
  packages/sdk/base/package.json
  packages/sdk/base/src/lock.test.ts
Due: sdk

doc
  docs/sdk/cryptographic-utils/modules/commentEncryption.md
Due: none

resolve TODOs
  packages/cli/src/base-l2.test.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

dont skip tests
  packages/cli/src/commands/validatorgroup/deregister.test.ts
Due: celocli

better test
  packages/sdk/base/src/lock.test.ts
  packages/sdk/base/src/lock.ts
Due: sdk

fixed snapshots
  packages/cli/src/commands/config/set-l2.test.ts
Due: celocli

fixed tests
  packages/cli/src/commands/config/set-l2.test.ts
  packages/cli/src/commands/config/set.test.ts
Due: celocli

docs
  docs/sdk/base/classes/lock.Lock.md
Due: none

Upgrades for December 2024 (#492)
  .changeset/brave-brooms-report.md
  .changeset/early-sloths-approve.md
  .changeset/pre.json
  .github/actions/upload-codecov/action.yml
  .github/workflows/ci.yml
  .github/workflows/containers.yml
  docs/sdk/base/classes/lock.Lock.md
  docs/sdk/cryptographic-utils/modules/commentEncryption.md
  package.json
  packages/cli/package.json
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/sdk/base/package.json
  packages/sdk/base/src/lock.test.ts
  packages/sdk/base/src/lock.ts
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/cryptographic-utils/src/commentEncryption.ts
  packages/sdk/metadata-claims/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/utils/package.json
  packages/sdk/utils/src/ecies.test.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, sdk, wallets

add helper tests
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

fix ts error
  packages/cli/src/utils/helpers.test.ts
Due: celocli

add tests for passed node
  packages/cli/src/base-l2.test.ts
Due: celocli
