Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

EpochManager switch update (#583)
  .changeset/fuzzy-horses-hide.md
  docs/sdk/contractkit/classes/wrappers_Validators.ValidatorsWrapper.md
  docs/sdk/contractkit/modules/wrappers_Validators.md
  packages/cli/DEVELOP.md
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: celocli, sdk

ci: big refactor to handle platform specific node native modules (#582)
  .github/workflows/upload-celocli-executables.yml
Due: none

fix only add together total spent on gas and the transfer amount if the gascurrency match the sent token
  .changeset/kind-moons-cheer.md
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/test-utils/mockRpc.ts
  packages/cli/src/transfer-stable-base.ts
Due: celocli

cleaner
  packages/cli/src/commands/transfer/dollars.test.ts
Due: celocli

test with third token as fee token
  packages/cli/src/commands/transfer/dollars.test.ts
Due: celocli

epoch switch precheck
  .changeset/hungry-radios-smoke.md
  .changeset/neat-chicken-judge.md
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

docs
  docs/command-line-interface/epochs.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
Due: none

redoc
  docs/command-line-interface/epochs.md
Due: none

epoch switch precheck (#590)
  .changeset/hungry-radios-smoke.md
  .changeset/neat-chicken-judge.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

Load ineligable groups in EpochManager when switching
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

test + docs
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/enums/wrappers_EpochManager.EpochProcessStatus.md
  docs/sdk/contractkit/interfaces/wrappers_EpochManager.EpochManagerConfig.md
  docs/sdk/contractkit/interfaces/wrappers_EpochManager.EpochProcessState.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
Due: sdk

add delay to epoch switching
  packages/cli/src/commands/epochs/switch.ts
Due: celocli

delay is configurable
  packages/cli/src/commands/epochs/switch.ts
  packages/cli/src/commands/network/info-l2.test.ts
Due: celocli

docs
  docs/command-line-interface/epochs.md
Due: none

when we create a changeset it will now automatically commit the file (#588)
  .changeset/config.json
Due: none

PR comments
  packages/cli/src/commands/epochs/switch.ts
Due: celocli

Create popular-brooms-sleep.md
  .changeset/popular-brooms-sleep.md
Due: none

Load ineligable groups in EpochManager when switching (#592)
  .changeset/popular-brooms-sleep.md
  docs/command-line-interface/epochs.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/enums/wrappers_EpochManager.EpochProcessStatus.md
  docs/sdk/contractkit/interfaces/wrappers_EpochManager.EpochManagerConfig.md
  docs/sdk/contractkit/interfaces/wrappers_EpochManager.EpochProcessState.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/cli/src/commands/epochs/switch.ts
  packages/cli/src/commands/network/info-l2.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

Full Send (#589)
  .changeset/kind-moons-cheer.md
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/test-utils/mockRpc.ts
  packages/cli/src/transfer-stable-base.ts
Due: celocli

chore: move doc generation to happen at release instead of with each pr. add the cli version number to the doc link
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/dkg.md
  docs/command-line-interface/election.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/exchange.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/identity.md
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/transfer.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/package.json
Due: celocli

add command to view info about epoch (#579)
  .changeset/short-cobras-deny.md
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/getEpochInfo.ts
Due: celocli

fix vitest version issues
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

update versioning command to also update docs (its the place it must happen for the cs workflow to make the change after pkgs are bumped but before anything is commited
  .github/workflows/release.yaml
  package.json
Due: none

doc check
  .github/workflows/ci.yml
Due: none

enter beta mode for the viem releases
  .changeset/pre.json
Due: none

Update .changeset/lovely-pigs-flash.md
  .changeset/lovely-pigs-flash.md
Due: none

new way to keep generated docs up to date (#585)
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/dkg.md
  docs/command-line-interface/election.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/exchange.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/identity.md
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/transfer.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  package.json
  packages/cli/package.json
Due: celocli

add code explanation
  packages/cli/src/base.ts
Due: celocli

co reviewed
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/contract-name.ts
  packages/cli/src/packages-to-be/utils.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

fix nummys
  packages/cli/src/utils/checks.ts
Due: celocli

Migrate CheckBuilder to viem (#531)
  .changeset/lovely-pigs-flash.md
  .changeset/pre.json
  .changeset/short-cobras-deny.md
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/commands/account/balance.test.ts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/epochs/status.test.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/commands/governance/preparehotfix.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/commands/lockedcelo/delegate-l2.test.ts
  packages/cli/src/commands/lockedcelo/delegate.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/releasecelo/set-beneficiary.ts
  packages/cli/src/commands/validator/affilliate.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/status.test.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/contract-name.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/getEpochInfo.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/utils.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/helpers.ts
  yarn.lock
Due: celocli

remove all code annotated for removal by TODO(L2)
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
Due: celocli, sdk, wallets

docs(changeset): remove function for serializing celo legacy transactions
  .changeset/bright-fireants-know.md
Due: none

downtime slash and bit map setting are l1 only actions
  packages/cli/src/commands/validator/downtime-slash.ts
  packages/cli/src/commands/validator/set-bitmaps.ts
  packages/cli/src/utils/command.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
Due: celocli, sdk

remove more old contract refs, and bls update method
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validator/update-bls-public-key.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/kit-l2.test.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
Due: celocli, sdk

wip: node:synced
  packages/cli/src/base.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  yarn.lock
Due: celocli

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
