Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

node 24 (#756)
  .changeset/node-24-cli.md
  .changeset/node-24-dev-utils.md
  .changeset/node-24-viem-account-ledger.md
  .changeset/sad-aliens-tap.md
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
  .nvmrc
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/utils/checks.ts
  packages/cli/standalone.Dockerfile
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

fix rpc url timeouts (#751)
  .changeset/hip-nights-draw.md
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

docs(changeset): update celo-ledger-token-signer to fix transfer:dollars and support new mento token names
  .changeset/lazy-cups-camp.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: wallets

bump
  .changeset/lazy-cups-camp.md
Due: none

Fix transfer:dollars --useLedger (#758)
  .changeset/lazy-cups-camp.md
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: wallets

Optimize Multisig submitAndConfirm (#743)
  .changeset/celocli-governance-approve-flags.md
  .changeset/contractkit-submit-transaction.md
  .changeset/open-donkeys-nail.md
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: celocli, sdk

fix: use blockchain timestamp and dynamic port in CLI tests
  packages/cli/src/base.test.ts
  packages/cli/src/utils/checks.ts
Due: celocli

fix: patch buffer-equal-constant-time for Node 25 compatibility
  .yarn/patches/buffer-equal-constant-time-npm-1.0.1-41826f3419.patch
  package.json
  yarn.lock
Due: none

fix: increase Anvil startTimeout to prevent test failures during parallel execution
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: none

refactor: remove web3 from @celo/utils and @celo/connect
  packages/sdk/connect/package.json
  packages/sdk/connect/src/celo-provider.test.ts
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.test.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/utils/package.json
  packages/sdk/utils/src/sign-typed-data-utils.ts
  packages/sdk/utils/src/signatureUtils.test.ts
  packages/sdk/utils/src/signatureUtils.ts
  packages/sdk/utils/src/solidity.ts
  yarn.lock
Due: sdk

feat: add web3 compatibility shim and fix downstream web3 usage
  packages/cli/src/commands/transfer/celo.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/formatter.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/contractkit/src/utils/getParsedSignatureOfAddress.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/transactions-uri/src/tx-uri.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: celocli, sdk, wallets

style: apply prettier formatting
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: sdk, wallets

chore: remove stale web3 resolutions from root package.json
  package.json
Due: none

chore: remove stale wallet-rpc build artifacts
  packages/sdk/wallets/wallet-rpc/lib/index.d.ts
  packages/sdk/wallets/wallet-rpc/lib/index.js
  packages/sdk/wallets/wallet-rpc/lib/index.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js.map
Due: wallets

Revert "chore: remove stale wallet-rpc build artifacts"
  packages/sdk/wallets/wallet-rpc/lib/index.d.ts
  packages/sdk/wallets/wallet-rpc/lib/index.js
  packages/sdk/wallets/wallet-rpc/lib/index.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-signer.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.js.map
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js.map
Due: wallets

chore: remove stale wallet-rpc test artifacts that depend on web3
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.d.ts
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js
  packages/sdk/wallets/wallet-rpc/lib/rpc-wallet.test.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.setup.js.map
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.d.ts
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js
  packages/sdk/wallets/wallet-rpc/lib/test-utils/ganache.teardown.js.map
Due: wallets

style: apply formatter fixes from pre-commit hook
  packages/cli/src/commands/election/revoke.test.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
Due: celocli

fix: fix web3 shim and test compatibility issues after merge
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/web3-contract-cache.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: sdk

style: apply formatter fix
  packages/sdk/connect/src/connection.ts
Due: sdk

fix: add web3 compat type coercion for viem ABI encoding in shim
  packages/sdk/connect/src/connection.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
Due: sdk

fix: add signTransaction to web3 shim and fix wallet-local signing test
  packages/sdk/connect/src/connection.ts
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: sdk, wallets

fix: remove web3 import from Accounts.test.ts, use inline constant
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
Due: sdk

style: fix formatter issue in .vscode/extensions.json
  .vscode/extensions.json
Due: none

style: use dot notation for listeners object access in connection.ts
  packages/sdk/connect/src/connection.ts
Due: sdk

fix: remove web3 dependency from BaseWrapper and fix soliditySha3 compat
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
  packages/sdk/utils/src/solidity.ts
Due: sdk

style: apply biome formatter to BaseWrapper files
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapper.ts
Due: sdk

fix: fix hashMessage to treat input as UTF-8 and handle gas:0 in sendTransaction
  packages/sdk/connect/src/connection.ts
  packages/sdk/utils/src/signatureUtils.ts
Due: sdk

fix: fix sourcify test mock to produce valid ABI-encoded address
  packages/sdk/explorer/src/sourcify.test.ts
Due: sdk

chore: revert .vscode/extensions.json to master version
  .vscode/extensions.json
Due: none

fix: replace any types with strong types across web3 shim and consumers
  packages/cli/src/base.ts
  packages/cli/src/commands/election/activate.test.ts
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/withdraw.test.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/test-utils/multicall.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/test-utils/release-gold.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/safe.ts
  packages/dev-utils/src/chain-setup.ts
  packages/dev-utils/src/contracts.ts
  packages/dev-utils/src/ganache-test.ts
  packages/dev-utils/src/test-utils.ts
  packages/sdk/connect/src/abi-types.ts
  packages/sdk/connect/src/celo-provider.test.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/types.ts
  packages/sdk/connect/src/utils/abi-utils.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-kit.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/setupForKits.ts
  packages/sdk/contractkit/src/utils/getParsedSignatureOfAddress.ts
  packages/sdk/contractkit/src/wrappers/AbstractFeeCurrencyWrapper.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/explorer/src/log-explorer.ts
  packages/sdk/explorer/src/sourcify.ts
  packages/sdk/utils/src/solidity.ts
  packages/sdk/wallets/wallet-local/src/signing.test.ts
Due: celocli, sdk, wallets

Committed as `dc1feb705`. All 35 files staged and committed with a descriptive message.
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/dev-utils/src/chain-setup.ts
  packages/sdk/connect/src/connection.ts
  packages/sdk/connect/src/utils/tx-result.ts
  packages/sdk/contractkit/src/setupForKits.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/explorer/src/sourcify.ts
Due: celocli, sdk

fix: add type casts for DecodedParamsObject values in tx-uri and block-explorer
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/transactions-uri/src/tx-uri.ts
Due: sdk

chore: update .vscode/extensions.json (worktree artifact)
  .vscode/extensions.json
Due: none

fix: redact sensitive RPC params from debug logs
  packages/sdk/connect/src/utils/rpc-caller.ts
Due: sdk

fix: add type cast for DecodedParamsObject value in proposals.ts
  packages/sdk/governance/src/proposals.ts
Due: sdk

fix: use mock Provider instead of string URL in BaseWrapper test
  packages/sdk/contractkit/src/wrappers/BaseWrapper.test.ts
Due: sdk

fix: improve RPC debug log sanitization for payloads and responses
  packages/sdk/connect/src/utils/rpc-caller.ts
Due: sdk

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
