Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

ledger cli integration
  packages/cli/src/base.test.ts
Due: celocli

typo
  packages/cli/src/commands/transfer/celo.ts
Due: celocli

fix: remove default value for deprecated flag to not spam at each this.parse
  packages/cli/src/base.ts
Due: celocli

refactor: transfers refactor to use viem (#610)
  .changeset/rich-moons-behave.md
  .changeset/silly-toes-own.md
  .changeset/unlucky-tools-taste.md
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/epochs/status.ts
  packages/cli/src/commands/transfer/celo.test.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/dollars.ts
  packages/cli/src/commands/transfer/erc20.test.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/commands/transfer/euros.ts
  packages/cli/src/commands/transfer/reals.ts
  packages/cli/src/commands/transfer/stable.test.ts
  packages/cli/src/commands/transfer/stable.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/contract-name.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/rpc-client.ts
  packages/cli/src/packages-to-be/utils.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/test-utils/mockRpc.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/helpers.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.test.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
  packages/viem-account-ledger/src/types.ts
  packages/viem-account-ledger/src/utils.test.ts
  packages/viem-account-ledger/src/utils.ts
Due: celocli

chore: account:new cleanup
  packages/cli/src/commands/account/new.ts
  packages/sdk/base/src/address.ts
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-local/package.json
Due: celocli, sdk, wallets

chore: update snapshots
  packages/cli/src/commands/account/new.test.ts
Due: celocli

docs(changeset): Minor changes in the account:new output
  .changeset/shy-kangaroos-grow.md
Due: none

docs(changeset): Minor typing improvement"
  .changeset/fifty-deers-move.md
Due: none

chore: account:new cleanup (#628)
  .changeset/fifty-deers-move.md
  .changeset/shy-kangaroos-grow.md
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/sdk/base/src/address.ts
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-local/package.json
Due: celocli, sdk, wallets

init core package
  package.json
  packages/core/.eslintrc.cjs
  packages/core/.gitignore
  packages/core/.npmignore
  packages/core/README.md
  packages/core/package.json
  packages/core/src/package.json.test.ts
  packages/core/tsconfig-base.json
  packages/core/tsconfig-cjs.json
  packages/core/tsconfig.json
  yarn.lock
Due: none

readme
  README.md
Due: none

start actions package
  packages/actions/package.json
  packages/core/package.json
  yarn.lock
Due: none

fix test:changes
  package.json
  packages/actions/.gitignore
  packages/actions/.npmignore
  packages/actions/package.json
  packages/actions/src/index.ts
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/index.ts
  packages/viem-account-ledger/package.json
Due: none

actions readme
  packages/actions/README.md
Due: none

start actions package
  .changeset/config.json
  packages/actions/.eslintrc.cjs
  packages/actions/.gitignore
  packages/actions/.npmignore
  packages/actions/README.md
  packages/actions/package.json
  packages/actions/tsconfig-base.json
  packages/actions/tsconfig-cjs.json
  packages/actions/tsconfig.json
  packages/core/README.md
Due: none

update viem
  package.json
  packages/actions/package.json
  packages/core/package.json
  packages/dev-utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: wallets

fix mocks
  packages/cli/src/commands/epochs/status.test.ts
Due: celocli

upgrade oclif, fix imports
  packages/actions/package.json
  packages/actions/tsconfig-base.json
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/tsconfig.json
  yarn.lock
Due: celocli

move governance methods to actions package
  packages/actions/src/contracts/governance.ts
  packages/cli/src/packages-to-be/governance.ts
Due: celocli

reverse to do in other pr
  packages/cli/src/commands/election/vote.ts
Due: celocli

fix deps
  .changeset/config.json
  package.json
  packages/actions/.npmignore
  packages/actions/package.json
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/validators.ts
Due: none

oclif lock
  yarn.lock
Due: none

fix import
  packages/cli/src/utils/checks.ts
Due: celocli

fix up
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
  packages/cli/src/commands/election/vote.ts
  packages/cli/src/utils/checks.ts
  yarn.lock
Due: celocli

refactor: migrate to viem
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/cli.ts
Due: celocli

core unit tests
  packages/core/src/staking/vote.test.ts
Due: none

size check works for cjs
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
Due: none

wip
  packages/cli/src/utils/cli.ts
Due: celocli

fix snap for celo
  packages/cli/src/commands/election/vote.test.ts
Due: celocli

docs(changeset): "Initial canary build"
  .changeset/light-lions-camp.md
Due: none

test
  packages/cli/src/commands/election/vote.test.ts
Due: celocli

remove cip42 test as its not supported anymore
  packages/actions/package.json
  packages/sdk/keystores/package.json
  packages/sdk/wallets/wallet-base/src/signing-utils.test.ts
Due: sdk, wallets

event parsing ayay
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/utils/cli.ts
Due: celocli

get size limit working
  packages/actions/package.json
  packages/core/package.json
Due: none

pass sans tests for now
  packages/actions/package.json
Due: none

add size checks action
  .github/workflows/ci.yml
Due: none

split tests
  .github/workflows/ci.yml
Due: none

dedup build files
  .github/workflows/ci.yml
  packages/actions/package.json
  packages/core/package.json
  packages/core/scripts/post-build.mjs
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/scripts/post-build.mjs
  scripts/post-build.mjs
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
