Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

typings
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
Due: none

refactor
  packages/cli/src/base.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

fix tests
  packages/cli/src/commands/node/synced.test.ts
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

add changesets
  .changeset/gold-colts-whisper.md
  .changeset/heavy-rice-chew.md
Due: none

less ambigious names
  packages/cli/src/utils/helpers.test.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

refactor
  packages/cli/src/commands/node/synced.test.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

fix: lint
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

fix: telemetry doesnt require node synced
  packages/cli/src/base-l2.test.ts
Due: celocli

fix: tests
  packages/cli/src/commands/node/synced.test.ts
Due: celocli

refactor: dont export EthSyncingRpcSchema
  packages/cli/src/utils/helpers.ts
Due: celocli

refactor: nodeIsSyncedRaw->nodeIsSyncedRaw
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

test pass
  packages/cli/src/commands/lockedcelo/unlock.test.ts
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/releasecelo/authorize-l2.test.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/utils/command.ts
  packages/sdk/contractkit/src/kit-l2.test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
Due: celocli, sdk

removed test anvil l1 from coontract kit tests
  packages/sdk/contractkit/src/utils/signing.test.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Governance-l2.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/OdisPayments.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
  packages/sdk/transactions-uri/src/tx-uri.test.ts
Due: sdk

docs(changeset): Remove bls flags from authorize command
  .changeset/soft-bulldogs-draw.md
Due: none

docs(changeset): Remove L1 code paths
  .changeset/many-yaks-explain.md
Due: none

docs(changeset): Remove slashing flag from rewards:show (no longer relevent post L2 upgrade)
  .changeset/sweet-grapes-design.md
Due: none

docs(changeset): Remove validator commands with L1 only usecases. set-bitmaps, signed-blocks, status, update-bls-key
  .changeset/sharp-pears-sell.md
Due: none

update changeset
  .changeset/soft-bulldogs-draw.md
Due: none

docs(changeset): Remove L1 code paths
  .changeset/soft-hotels-stare.md
  packages/sdk/contractkit/src/wrappers/OdisPayments.test.ts
  packages/sdk/contractkit/src/wrappers/Reserve.test.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  packages/sdk/contractkit/src/wrappers/StableToken.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
Due: sdk

docs(changeset): Remove old L1 contract wrappers, GasPriceMinimum, FeeCurrencyWhitelist, DowntimeSlasher, DoubleSigningSlasherBlockchainParameters, BaseSlasher, Random,
  .changeset/beige-socks-camp.md
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/kit-l2.test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/utils/signing.test.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/contractkit/src/wrappers/Accounts.test.ts
  packages/sdk/contractkit/src/wrappers/Attestations.test.ts
  packages/sdk/contractkit/src/wrappers/BaseSlasher.ts
  packages/sdk/contractkit/src/wrappers/BaseWrapperForGoverning.ts
  packages/sdk/contractkit/src/wrappers/BlockChainParameters.test.ts
  packages/sdk/contractkit/src/wrappers/BlockchainParameters.ts
  packages/sdk/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/sdk/contractkit/src/wrappers/DowntimeSlasher-l2.test.ts
  packages/sdk/contractkit/src/wrappers/DowntimeSlasher.test.ts
  packages/sdk/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/sdk/contractkit/src/wrappers/Election.test.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/Escrow.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyDirectoryWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyWhitelistWrapper.test.ts
  packages/sdk/contractkit/src/wrappers/FeeCurrencyWhitelistWrapper.ts
  packages/sdk/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/sdk/contractkit/src/wrappers/GoldToken.test.ts
  packages/sdk/contractkit/src/wrappers/Governance-l2.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/LockedGold-l2.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.test.ts
  packages/sdk/contractkit/src/wrappers/LockedGold.ts
Due: sdk

docs(changeset): Removes testWithAnvilL1
  .changeset/fresh-dolls-admire.md
  packages/dev-utils/src/anvil-test.ts
Due: none

docs(changeset): Removes isCel2 helper function
  .changeset/tiny-chairs-tease.md
  packages/sdk/connect/src/index.ts
  packages/sdk/connect/src/utils/is-cel2.test.ts
  packages/sdk/connect/src/utils/is-cel2.ts
Due: sdk

rename tests with -l2 in name to just be regular
  packages/sdk/contractkit/src/wrappers/LockedGold.test.ts
  packages/sdk/contractkit/src/wrappers/Validators.test.ts
Due: sdk

update snapshot name
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
Due: celocli

wrappers are not updated till next pr
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters.test.ts
Due: celocli

fix: types
  packages/cli/src/packages-to-be/client.ts
Due: celocli

refactor: migrate node:synced to viem (#554)
  .changeset/gold-colts-whisper.md
  .changeset/heavy-rice-chew.md
  packages/cli/src/base-l2.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/node/synced.test.ts
  packages/cli/src/commands/node/synced.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  yarn.lock
Due: celocli

docs(changeset): Fix releasecelo/admin-revoke to work on L2
  .changeset/blue-cobras-explode.md
  .gitguardian.yml
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/commands/releasecelo/admin-revoke.ts
Due: celocli

There are no more cli ganache tests
  .github/workflows/ci.yml
  packages/cli/package.json
Due: celocli

force run
  .github/workflows/ci.yml
Due: none

feat: convert account:list to viem
  package.json
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/commands/account/list.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
  packages/dev-utils/src/viem/chains.ts
  packages/viem-account-ledger/package.json
  packages/viem-account-ledger/src/constants.ts
  packages/viem-account-ledger/src/index.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/types.ts
  packages/viem-account-ledger/src/utils.ts
  yarn.lock
Due: celocli

fix: module and baklava
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/chains.ts
  packages/cli/src/packages-to-be/client.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
Due: celocli

fix: remove uncessary cast as celoBaklava typings are fixed
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/utils/helpers.test.ts
Due: celocli

really this is a patch
  .changeset/blue-cobras-explode.md
Due: none

Update .gitguardian.yml
  .gitguardian.yml
Due: none

remove console logs
  packages/cli/src/commands/releasecelo/admin-revoke.test.ts
  packages/cli/src/utils/release-gold-base.ts
Due: celocli
