Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

experiment jest->vitest
  packages/sdk/base/jest.config.js
  packages/sdk/base/package.json
  packages/sdk/base/src/address.test.ts
  packages/sdk/base/src/async.test.ts
  packages/sdk/base/src/collections.test.ts
  packages/sdk/base/src/future.test.ts
  packages/sdk/base/src/lock.test.ts
  packages/sdk/base/src/package.test.ts
  packages/sdk/base/src/parsing.test.ts
  packages/sdk/base/src/phoneNumbers.test.ts
  packages/sdk/base/src/result.test.ts
  packages/sdk/base/src/task.test.ts
  packages/viem-account-ledger/src/ledger-to-account.test.ts
  yarn.lock
Due: sdk

experiment jest->vitest
  packages/sdk/connect/jest.config.js
  packages/sdk/connect/package.json
  packages/sdk/connect/src/celo-provider.test.ts
  packages/sdk/connect/src/connection.test.ts
  packages/sdk/connect/src/utils/formatter.test.ts
  packages/sdk/connect/src/utils/rpc-caller.test.ts
  packages/sdk/connect/src/utils/rpc-caller.ts
  packages/sdk/connect/src/utils/tx-params-normalizer.test.ts
  yarn.lock
Due: sdk

wip just pass please
  packages/cli/package.json
Due: celocli

global.jest != jest
  .github/workflows/ci.yml
  packages/cli/package.json
  packages/dev-utils/src/matchers.ts
  packages/dev-utils/src/viem/test-utils.ts
Due: celocli

global.jest != jest
  .github/workflows/ci.yml
Due: none

saddies
  .github/workflows/ci.yml
Due: none

typo
  packages/cli/package.json
Due: celocli

refactor: releasecelo/transfer-dollars viem
  packages/actions/src/contracts/release-celo.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

docs(changeset): use more explicit types for addresses in more places
  .changeset/gorgeous-queens-laugh.md
  packages/cli/src/packages-to-be/governance.ts
  packages/core/src/staking/vote.ts
  packages/sdk/base/src/address.ts
  packages/sdk/base/src/string.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: celocli, sdk

remove todos
  packages/core/src/governing/vote.ts
  packages/core/src/staking/vote.ts
Due: none

migrate governance:vote commands to viem
  packages/actions/src/contracts/governance.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/utils/checks.ts
  packages/core/src/governing/index.ts
  packages/core/src/governing/vote.test.ts
  packages/core/src/governing/vote.ts
  packages/core/src/index.ts
Due: celocli

docs(changeset): migrate governance:vote commands to viem
  .changeset/nine-coins-drive.md
Due: none

add tests for govnernance vote. and add the ability to pass a fork url and fork block number to test with anvil
  packages/actions/src/contracts/governance.test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: none

test that it gives a tx hash
  packages/actions/src/contracts/governance.test.ts
Due: none

when throwing in test make sure to test the out put so a different error isnt a false positive
  packages/actions/src/contracts/governance.test.ts
Due: none

docs(changeset): epoch:* commands will not warn and exit instead of erroring if Epoch is not in correct state for the given command
  .changeset/witty-lies-kneel.md
  .github/workflows/ci.yml
  packages/cli/src/commands/epochs/finish.ts
  packages/cli/src/commands/epochs/process-groups.ts
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.ts
Due: celocli

Converts governance:vote to viem (#639)
  .changeset/gorgeous-queens-laugh.md
  .changeset/nine-coins-drive.md
  packages/actions/src/contracts/governance.test.ts
  packages/actions/src/contracts/governance.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/utils/checks.ts
  packages/core/src/governing/index.ts
  packages/core/src/governing/vote.test.ts
  packages/core/src/governing/vote.ts
  packages/core/src/index.ts
  packages/core/src/staking/vote.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/sdk/base/src/address.ts
  packages/sdk/base/src/string.ts
  packages/sdk/contractkit/src/wrappers/Election.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.ts
Due: celocli, sdk

refactor: 0xstring typings
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/release-celo.ts
  packages/cli/src/packages-to-be/rpc-client.ts
  packages/cli/src/utils/cli.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: celocli, wallets

refactor: use walletclient for clarity
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
Due: celocli

refactor same but different
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
Due: none

snaps
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/epochs/start.test.ts
  packages/cli/src/commands/epochs/switch.test.ts
Due: celocli

change epoch commands to just warn instead of erroring (#646)
  .changeset/witty-lies-kneel.md
  .github/workflows/ci.yml
  packages/cli/src/commands/epochs/finish.test.ts
  packages/cli/src/commands/epochs/finish.ts
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/epochs/process-groups.ts
  packages/cli/src/commands/epochs/start.test.ts
  packages/cli/src/commands/epochs/start.ts
  packages/cli/src/commands/epochs/switch.test.ts
  packages/cli/src/commands/epochs/switch.ts
Due: celocli

setup and generate docs for actions and core
  packages/actions/docs/README.md
  packages/actions/docs/modules.md
  packages/actions/docs/multicontract-interactions/stake/README.md
  packages/actions/docs/multicontract-interactions/stake/functions/getElectedRpcNodes.md
  packages/actions/docs/multicontract-interactions/stake/functions/vote.md
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/actions/typedoc.json
  packages/core/docs/README.md
  packages/core/docs/functions/vote.md
  packages/core/docs/functions/voteProposal.md
  packages/core/docs/globals.md
  packages/core/src/governing/vote.ts
  packages/core/src/staking/vote.ts
  packages/core/typedoc.json
Due: none

remove semver, set test runners as optional dependencies to remove install warnings
  package.json
  packages/dev-utils/package.json
  yarn.lock
Due: none

fix #626 -- should be able to connect via websocket
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
Due: celocli

should be able to connect via websocket (#648)
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
Due: celocli

refactor: releasecelo/transfer-dollars viem (#645)
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/release-celo.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/commands/releasecelo/transfer-dollars.ts
  packages/cli/src/packages-to-be/rpc-client.ts
  packages/cli/src/utils/cli.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/sdk/wallets/wallet-base/src/signing-utils.ts
Due: celocli, wallets

Docs setup for new packages (plus eastereggs) (#647)
  package.json
  packages/actions/docs/README.md
  packages/actions/docs/modules.md
  packages/actions/docs/multicontract-interactions/stake/README.md
  packages/actions/docs/multicontract-interactions/stake/functions/getElectedRpcNodes.md
  packages/actions/docs/multicontract-interactions/stake/functions/vote.md
  packages/actions/src/multicontract-interactions/stake/elected-rpc-nodes.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/actions/typedoc.json
  packages/core/docs/README.md
  packages/core/docs/functions/vote.md
  packages/core/docs/functions/voteProposal.md
  packages/core/docs/globals.md
  packages/core/src/governing/vote.ts
  packages/core/src/staking/vote.ts
  packages/core/typedoc.json
  packages/dev-utils/package.json
  yarn.lock
Due: none

yolo
  packages/sdk/cryptographic-utils/src/account.ts
Due: sdk

docs(changeset): Default to using eth derivation path "m/44'/60'/0'" in generateKeysFromSeed, generateKeys, generateDeterministicInviteCode. Pass your own in if needed.
  .changeset/wild-hornets-approve.md
Due: none

typo
  packages/cli/src/commands/account/new.ts
Due: celocli

dont change behavior of
  packages/cli/src/commands/config/get.test.ts
  packages/sdk/cryptographic-utils/src/account.test.ts
  packages/sdk/cryptographic-utils/src/dataEncryptionKey.ts
Due: celocli, sdk

docs(changeset): Now defaults to using "m/44'/60'/0'" as base derivation path for account:new and any command using --useLedger. use celocli config:set --derivationPath celoLegacy for old behavior.
  .changeset/curly-toes-pump.md
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
Due: celocli

key generated in the tests
  .gitguardian.yml
Due: none

Revert "revert"
  packages/cli/src/commands/config/get.test.ts
Due: celocli

fix
  packages/cli/src/commands/config/get.test.ts
Due: celocli

Default Derivation (#650)
  .changeset/curly-toes-pump.md
  .changeset/wild-hornets-approve.md
  .gitguardian.yml
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/sdk/cryptographic-utils/src/account.test.ts
  packages/sdk/cryptographic-utils/src/account.ts
  packages/sdk/cryptographic-utils/src/dataEncryptionKey.ts
Due: celocli, sdk

set the min node version to 20
  packages/actions/package.json
  packages/cli/src/transfer-stable-base.ts
  packages/dev-utils/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
Due: celocli, sdk, wallets
