Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

feat: abis@13
  packages/actions/package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/wrappers/Accounts.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
  packages/sdk/contractkit/src/wrappers/ReleaseGold.ts
  packages/sdk/contractkit/src/wrappers/Validators.ts
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

feat: alias and deprecate method
  packages/sdk/contractkit/src/wrappers/Accounts.ts
Due: sdk

fix: make sure the contract call is caught for better error logging
  packages/cli/package.json
  packages/sdk/contractkit/src/kit.ts
Due: celocli, sdk

publish prereleases for 13 straight from this branch
  .changeset/pre.json
  .github/workflows/release.yaml
Due: none

fix hotfix
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/utils/checks.ts
Due: celocli

docs(changeset): Support Core Contract Release 13
  .changeset/twenty-pens-greet.md
Due: none

Remove governance:whitelisthotfix command. Note we dont consider this breaking since it has not functioned since the cel2 transition
  .changeset/gentle-shirts-tickle.md
  packages/cli/src/commands/governance/whitelisthotfix.ts
Due: celocli

use correct dev chain
  packages/dev-utils/package.json
  yarn.lock
Due: none

use dev chain 13
  packages/dev-utils/src/viem/anvil-test.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
Due: sdk

unlucky 13
  packages/dev-utils/package.json
  packages/dev-utils/src/viem/anvil-test.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  yarn.lock
Due: sdk

feat: add a multisig:propose command
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: celocli, sdk

workspace
  packages/dev-utils/src/anvil-test.ts
  packages/sdk/contractkit/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/network-utils/package.json
  yarn.lock
Due: sdk

workspace
  packages/sdk/metadata-claims/package.json
Due: sdk

chore: regenerate docs
  docs/command-line-interface/multisig.md
Due: none

docs(changeset): Change the interface for the MultiSig wrapper to submit arbitrary calldata without building a CeloTxObject.
  .changeset/gorgeous-eagles-wash.md
Due: none

docs(changeset): Add a multisig:propose that can propose arbitrary transactions on celo multisigs.
  .changeset/late-eggs-yawn.md
Due: none

debug
  .github/workflows/ci.yml
  package.json
Due: none

try 1.0 version
  .github/workflows/ci.yml
Due: none

seems to work locally
  .github/workflows/ci.yml
Due: none

feat: update all multisig commands to move away from contractkit
  packages/actions/src/contracts/multisig.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/command.ts
Due: celocli

docs(changeset): Expose a getMultiSigContract helper.
  .changeset/thick-terms-float.md
Due: none

chore: linting
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/utils/command.ts
Due: celocli

chore: revert MultiSig wrapper change
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

chore: remove contractkit changeset
  .changeset/gorgeous-eagles-wash.md
Due: none

chore: update changeset description
  .changeset/late-eggs-yawn.md
Due: none

revert
  .github/workflows/ci.yml
  packages/sdk/metadata-claims/src/metadata.test.ts
Due: sdk

set max fee for tests
  packages/cli/src/commands/releasecelo/transfer-dollars.test.ts
  packages/cli/src/test-utils/multisigUtils.ts
Due: celocli

feat: make sure transfer functionality is 1:1 with the wrapper
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/multisig/propose.ts
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

add tess to multisig comamnds
  packages/cli/src/commands/multisig/approve.test.ts
  packages/cli/src/commands/multisig/propose.test.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/multisig/transfer.test.ts
  packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/utils/command.ts
Due: celocli

format
  .github/workflows/ci.yml
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

Update packages/cli/src/commands/multisig/transfer.ts
  packages/cli/src/commands/multisig/transfer.ts
Due: celocli

foundry version from devchain build
  .github/workflows/ci.yml
  biome.json
  packages/sdk/metadata-claims/src/metadata.test.ts
Due: sdk

try try try
  packages/cli/src/commands/epochs/finish.test.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/anvil-test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
  yarn.lock
Due: celocli, sdk

try again
  .github/workflows/ci.yml
  packages/cli/src/commands/epochs/finish.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
  packages/sdk/contractkit/src/wrappers/SortedOracles.test.ts
Due: celocli, sdk

try to fix glibc version issue
  .github/actions/run-with-foundry/action.yml
  .github/workflows/ci.yml
  scripts/fix-glibc-compatibility.sh
Due: none

use new runner
  .github/workflows/ci.yml
Due: none

Revert "try to fix glibc version issue"
  .github/actions/run-with-foundry/action.yml
  .github/workflows/ci.yml
  scripts/fix-glibc-compatibility.sh
Due: none

update runner
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
