Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

Update cron-npm-install.yml yalan2
  .github/workflows/cron-npm-install.yml
Due: none

the path is not full bip44 so make that clear
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
Due: celocli

even more verbose output
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

better handling of derivationPath flag
  .changeset/nice-fireants-cheat.md
  docs/command-line-interface/account.md
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
Due: celocli

Update .changeset/nice-fireants-cheat.md
  .changeset/nice-fireants-cheat.md
Due: none

Update .changeset/tasty-schools-reply.md
  .changeset/tasty-schools-reply.md
Due: none

Update packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/new.ts
Due: celocli

DerivationPath Alias (#471)
  .changeset/nice-fireants-cheat.md
  .changeset/tasty-hounds-occur.md
  .changeset/tasty-schools-reply.md
  docs/command-line-interface/account.md
  docs/sdk/base/enums/account.DerivationPathAliases.md
  docs/sdk/base/enums/account.MnemonicLanguages.md
  docs/sdk/base/enums/account.MnemonicStrength.md
  docs/sdk/base/interfaces/account.Bip39.md
  docs/sdk/base/modules/account.md
  docs/sdk/base/modules/index.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicLanguages.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicStrength.md
  docs/sdk/cryptographic-utils/interfaces/account.Bip39.md
  docs/sdk/cryptographic-utils/modules/account.md
  packages/cli/package.json
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/sdk/base/src/account.ts
Due: celocli, sdk

one more test case
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/metadata-claims/src/metadata.ts
  packages/sdk/metadata-claims/src/types.ts
Due: sdk

WIP start of ledgerLiveMode, and derivationPathConfig
  .github/workflows/ci.yml
  packages/cli/src/base.ts
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/sdk/base/src/account.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
Due: celocli, sdk, wallets

update readme for contractkit and cli
  .github/workflows/ci.yml
  docs/sdk/contractkit/README.md
  packages/cli/README.md
  packages/cli/package.json
Due: celocli

use github tip syntax
  docs/sdk/contractkit/README.md
Due: none

GitGuardian: ignore test secrets
  .gitguardian.yml
Due: none

docs
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
Due: none

tidy
  docs/sdk/contractkit/README.md
  packages/cli/README.md
  packages/sdk/contractkit/README.md
Due: celocli, sdk

GitGuardian: ignore test secrets (#481)
  .gitguardian.yml
Due: none

install immediately after releasing
  .github/workflows/release.yaml
Due: none

make sure packages can be build for publishing
  .github/workflows/ci.yml
  .gitignore
Due: none

remove checking betas on each pr
  .github/workflows/cron-npm-install.yml
Due: none

add make script because yarn workspace commands must call a script in package.json not a yarn command.
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/typescript/package.json
  packages/viem-account-ledger/package.json
Due: celocli, sdk, wallets

fix file path
  .github/workflows/ci.yml
Due: none

better commands and wording
  .github/workflows/release.yaml
Due: none

i was wrong about how matrix works before
  .github/workflows/release.yaml
Due: none

show after install + on first run
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/scripts/postinstall.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

Update github actions upload-artfiact to version 4 due to EOL
  .github/workflows/ci.yml
Due: none

temp: don't run postinstall on CI
  .github/workflows/ci.yml
Due: none

Update github actions upload-artfiact to version 4 due to EOL (#483)
  .github/workflows/ci.yml
Due: none

Update docs/sdk/contractkit/README.md
  docs/sdk/contractkit/README.md
Due: none

Create orange-frogs-smile.md
  .changeset/orange-frogs-smile.md
Due: none

dont forget!
  docs/sdk/contractkit/README.md
Due: none

Readme rewrites and node version bump (#480)
  .changeset/orange-frogs-smile.md
  .github/workflows/ci.yml
  docs/sdk/contractkit/README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/sdk/contractkit/README.md
Due: celocli, sdk

fix jq expression
  .github/workflows/release.yaml
Due: none

another
  .github/workflows/release.yaml
Due: none
