Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

docs: regenerate docs
  docs/command-line-interface/governance.md
Due: none

fix: bad refactor
  packages/cli/src/commands/governance/propose-l2.test.ts
Due: celocli

`account.signTypedData()` for `@celo/viem-account-ledger` (#505)
  packages/viem-account-ledger/src/ledger-to-account.ts
Due: none

fix: add support for the ethereum app for some txs
  packages/sdk/wallets/wallet-ledger/src/ledger-signer.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/viem-account-ledger/src/ledger-to-account.test.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/utils.test.ts
  packages/viem-account-ledger/src/utils.ts
Due: wallets

test: add coverage for ethereum app (synthetic and physical device)
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/viem-account-ledger/src/ledger-to-account.test.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/test-utils.ts
Due: wallets

test: wip for @celo/wallet-ledger
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
Due: wallets

chore: add changeset
  .changeset/late-dolphins-crash.md
Due: none

bump up coverage + fix L2 check
  .changeset/happy-lobsters-appear.md
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

docs
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
Due: none

Add epochs:send-validator-payment command (#510)
  .changeset/happy-lobsters-appear.md
  .changeset/slimy-beds-share.md
  docs/command-line-interface/epochs.md
  docs/command-line-interface/validator.md
  docs/sdk/contractkit/classes/wrappers_EpochManager.EpochManagerWrapper.md
  docs/sdk/contractkit/modules/wrappers_EpochManager.md
  packages/cli/src/commands/epochs/send-validator-payment-l2.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: celocli, sdk

add changeset
  .changeset/witty-poems-give.md
Due: none

yes use mock for 1 test run and not for other
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/contracts-l2.test.ts
  packages/cli/src/commands/network/contracts.ts
Due: celocli

update snap
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
Due: celocli

checking... GovernanceSlasher is an unversioned contract yeah?
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/contracts-l2.test.ts
  packages/cli/src/commands/network/contracts.ts
Due: celocli

not needed
  packages/cli/src/commands/network/contracts-l2.test.ts
Due: celocli

fix network:contracts. (#514)
  .changeset/witty-poems-give.md
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/contracts-l2.test.ts
  packages/cli/src/commands/network/contracts.ts
Due: celocli

fix: test
  packages/cli/src/commands/governance/withdraw-l2.test.ts
Due: celocli

feat: add useSafe for governance:propose and governance:withdraw (#511)
  .changeset/late-dolphins-crash.md
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/withdraw-l2.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/test-utils/multisigUtils.ts
  packages/cli/src/utils/flags.ts
  packages/cli/src/utils/safe.ts
Due: celocli

chore: docs
  docs/sdk/wallet-ledger/README.md
  docs/sdk/wallet-ledger/classes/ledger_signer.LedgerSigner.md
  docs/sdk/wallet-ledger/classes/test_utils.TestLedger.md
  docs/sdk/wallet-ledger/modules/test_utils.md
  packages/docs/viem-account-ledger/modules/ledger_to_account.md
Due: none

`account.signTypedData()` for `@celo/viem-account-ledger` (#505) (#513)
  docs/sdk/wallet-ledger/README.md
  docs/sdk/wallet-ledger/classes/ledger_signer.LedgerSigner.md
  docs/sdk/wallet-ledger/classes/test_utils.TestLedger.md
  docs/sdk/wallet-ledger/modules/test_utils.md
  packages/docs/viem-account-ledger/modules/ledger_to_account.md
  packages/sdk/wallets/wallet-ledger/src/ledger-signer.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/sdk/wallets/wallet-ledger/src/test-utils.ts
  packages/viem-account-ledger/src/ledger-to-account.test.ts
  packages/viem-account-ledger/src/ledger-to-account.ts
  packages/viem-account-ledger/src/utils.test.ts
  packages/viem-account-ledger/src/utils.ts
Due: wallets

chore: add changeset
  .changeset/lemon-squids-report.md
Due: none

Update .changeset/lemon-squids-report.md
  .changeset/lemon-squids-report.md
Due: none

chore: add changeset (#516)
  .changeset/lemon-squids-report.md
Due: none

use latest abis
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

changeset
  .changeset/pretty-ladybugs-boil.md
Due: none

true release mode
  .changeset/pre.json
Due: none

use latest abis (#517)
  .changeset/pretty-ladybugs-boil.md
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

need to call epoch manger on l2.
  packages/cli/src/commands/election/current-l2.test.ts
  packages/cli/src/commands/election/current.ts
Due: celocli

need to call epoch manger on l2. (#521)
  packages/cli/src/commands/election/current-l2.test.ts
  packages/cli/src/commands/election/current.ts
Due: celocli

fix election:current for L1
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/election/current.ts
Due: celocli

L1 fix for SendValidatorPayment
  packages/cli/src/commands/epochs/send-validator-payment.ts
Due: celocli

changeset
  .changeset/spotty-geese-shake.md
Due: none

fix election:current for L1 (#523)
  .changeset/spotty-geese-shake.md
  packages/cli/src/commands/election/current.test.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
Due: celocli

Upgrade ABIs and devchain-anvil
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

add await
  packages/cli/src/commands/validatorgroup/deregister.test.ts
Due: celocli

Upgrade ABIs and devchain-anvil (#526)
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/cli/src/commands/network/parameters-l2.test.ts
  packages/cli/src/commands/network/parameters.test.ts
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/show.test.ts
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

true release mode (#518)
  .changeset/pre.json
Due: none

Update 404 link autocomplete.md
  docs/command-line-interface/autocomplete.md
Due: none

Update 404 link commands.md
  docs/command-line-interface/commands.md
Due: none

Path conditions:
  celocli: any of: packages/cli, but not: packages/typescript, docs, .github, .changeset
  sdk: any of: packages/sdk/**, but not: packages/sdk/wallets/**, packages/typescript, docs, .github, .changeset
  wallets: any of: packages/sdk/wallets/**, but not: packages/typescript, docs, .github, .changeset
  viem-sdks: any of: packages/viem-**, but not: packages/typescript, docs, .github, .changeset
