Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

refactor: displayViemTx
  packages/cli/src/base.ts
  packages/cli/src/commands/epochs/send-validator-payment.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
Due: celocli

fix; remove log
  packages/cli/src/utils/cli.ts
Due: celocli

chore: -gold
  packages/cli/src/commands/transfer/celo.ts
Due: celocli

docs(changeset): Refactor epoch:send-validator-payment to use viem
  .changeset/swift-hats-refuse.md
Due: none

chore: snapshot
  packages/cli/src/commands/transfer/dollars.test.ts
Due: celocli

refactor: viem epoch:send-validator-payment (#629)
  .changeset/swift-hats-refuse.md
  packages/actions/package.json
  packages/actions/src/client.ts
  packages/actions/src/contracts/accounts.ts
  packages/actions/src/contracts/celo-erc20.ts
  packages/actions/src/contracts/election.ts
  packages/actions/src/contracts/epoch-manager.ts
  packages/actions/src/contracts/erc20.ts
  packages/actions/src/contracts/feecurrency-directory.ts
  packages/actions/src/contracts/governance.ts
  packages/actions/src/contracts/locked-celo.ts
  packages/actions/src/contracts/registry.ts
  packages/actions/src/contracts/validators.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/epochs/send-validator-payment.test.ts
  packages/cli/src/commands/epochs/send-validator-payment.ts
  packages/cli/src/commands/transfer/celo.ts
  packages/cli/src/commands/transfer/dollars.test.ts
  packages/cli/src/commands/transfer/erc20.ts
  packages/cli/src/packages-to-be/stable-tokens.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/cli/src/transfer-stable-base.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/helpers.test.ts
  packages/cli/src/utils/helpers.ts
  packages/core/package.json
Due: celocli

set package manager and script
  .github/workflows/ci.yml
Due: none

does sync workspace actual make things slower
  .github/workflows/ci.yml
Due: none

return
  .github/workflows/ci.yml
Due: none

yep
  .github/workflows/ci.yml
Due: none

use the readContract function to avoid importing the sink and thereby keeping bundle size down
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
Due: none

CI size check -- set package manager and script (#633)
  .github/workflows/ci.yml
  packages/actions/package.json
  packages/actions/src/contracts/registry.ts
Due: none

chore: vitest hooks
  package.json
  packages/actions/src/rpc-methods.test.ts
  packages/actions/tsconfig-base.json
  packages/actions/vitest.config.ts
  packages/core/tsconfig-base.json
  packages/core/vitest.config.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/describeEach.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/anvil-test.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/viem-account-ledger/tsconfig-base.json
  yarn.lock
Due: none

chore: better handling
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/rpc-client.ts
  packages/cli/src/test-utils/mockRpc.ts
Due: celocli

chore: better handling (#637)
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/rpc-client.ts
  packages/cli/src/test-utils/mockRpc.ts
Due: celocli

wip tests
  package.json
  packages/actions/package.json
  packages/actions/src/rpc-methods.test.ts
  packages/core/package.json
  packages/dev-utils/package.json
  packages/dev-utils/src/chain-setup.ts
  packages/dev-utils/src/describeEach.ts
  packages/dev-utils/src/network.ts
  packages/dev-utils/src/test-utils.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/dev-utils/tsconfig-base.json
  packages/dev-utils/tsconfig-cjs.json
  packages/dev-utils/tsconfig.json
  packages/dev-utils/vitest.config.ts
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

wip path configs
  packages/cli/jest.config.js
  packages/sdk/contractkit/jest.config.js
  packages/sdk/explorer/jest.config.js
  packages/sdk/governance/jest.config.js
  packages/sdk/metadata-claims/jest.config.js
  packages/sdk/network-utils/jest.config.js
  packages/sdk/transactions-uri/jest.config.js
Due: celocli, sdk

docs(changeset): (chore): Migrate election:vote to viem
  .changeset/itchy-tips-carry.md
  packages/actions/src/multicontract-interactions/stake/index.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/election/vote.test.ts
  packages/cli/src/commands/election/vote.ts
Due: celocli

wip: jest custom matchers
  packages/cli/tsconfig.json
  packages/dev-utils/package.json
  packages/dev-utils/src/matchers.ts
  packages/sdk/contractkit/tsconfig.json
  packages/sdk/keystores/src/file-keystore.test.ts
Due: celocli, sdk

revert
  packages/dev-utils/src/test-utils.ts
Due: none

wip fix tx-uri
  packages/sdk/transactions-uri/package.json
  packages/sdk/transactions-uri/src/test-utils/setup.global.ts
  packages/sdk/transactions-uri/tsconfig.json
  yarn.lock
Due: sdk

wip dont compile test files
  packages/cli/tsconfig.json
  packages/sdk/transactions-uri/tsconfig.json
Due: celocli, sdk

revert
  packages/sdk/transactions-uri/tsconfig.json
Due: sdk

docs(changeset): expose `deriveLedgerAccounts` function
  .changeset/late-toys-count.md
  packages/viem-account-ledger/src/derive-ledger-accounts.test.ts
  packages/viem-account-ledger/src/derive-ledger-accounts.ts
  packages/viem-account-ledger/src/index.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
Due: none

docs(changeset): fix: account:list --useLedger no longer requires --node to be passed in.
  .changeset/cool-lizards-leave.md
  packages/cli/src/base.ts
  packages/cli/src/commands/account/list.test.ts
  packages/cli/src/commands/account/list.ts
  packages/cli/src/test-utils/cliUtils.ts
Due: celocli

docs(changeset): Remove node:accounts commmand (use account:list)
  .changeset/fresh-months-share.md
  packages/cli/src/commands/node/accounts.ts
Due: celocli

call super for other cases
  packages/cli/src/commands/account/list.ts
Due: celocli

wip
  packages/cli/src/base.test.ts
  packages/sdk/keystores/src/file-keystore.test.ts
Due: celocli, sdk

wip jest matchers
  packages/sdk/contractkit/tsconfig.json
  packages/sdk/keystores/package.json
  yarn.lock
Due: sdk

wip fix
  packages/sdk/metadata-claims/tsconfig.json
Due: sdk

timers
  packages/dev-utils/src/matchers.ts
Due: none

refactor account:list --use ledger to no longer need --node flag (#640)
  .changeset/cool-lizards-leave.md
  .changeset/fresh-months-share.md
  .changeset/late-toys-count.md
  packages/cli/src/base.ts
  packages/cli/src/commands/account/list.test.ts
  packages/cli/src/commands/account/list.ts
  packages/cli/src/commands/node/accounts.ts
  packages/cli/src/test-utils/cliUtils.ts
  packages/viem-account-ledger/src/derive-ledger-accounts.test.ts
  packages/viem-account-ledger/src/derive-ledger-accounts.ts
  packages/viem-account-ledger/src/index.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
Due: celocli

Migrate election:vote to viem (#636)
  .changeset/itchy-tips-carry.md
  packages/actions/src/multicontract-interactions/stake/index.ts
  packages/actions/src/multicontract-interactions/stake/vote.ts
  packages/cli/src/commands/election/show.test.ts
  packages/cli/src/commands/election/vote.test.ts
  packages/cli/src/commands/election/vote.ts
Due: celocli

remove useless comments
  packages/cli/src/test-utils/setup.global.ts
  packages/sdk/contractkit/src/test-utils/setup.global.ts
  packages/sdk/governance/src/test-utils/setup.global.ts
Due: celocli, sdk

PR feedback
  packages/actions/src/rpc-methods.test.ts
  packages/actions/tsconfig-base.json
  packages/actions/vitest.config.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/matchers.ts
  packages/dev-utils/tsconfig-base.json
  packages/dev-utils/vitest.config.ts
  yarn.lock
Due: none

semver
  package.json
  packages/cli/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: celocli, wallets

jest
  package.json
  packages/dev-utils/package.json
  packages/dev-utils/src/describeEach.ts
  packages/dev-utils/src/matchers.ts
  packages/dev-utils/src/viem/test-utils.ts
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/keystores/package.json
  packages/sdk/metadata-claims/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm-gcp/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  yarn.lock
Due: sdk, wallets

experiment jest->vitest
  packages/dev-utils/src/matchers.ts
  packages/sdk/keystores/jest.config.js
  packages/sdk/keystores/package.json
  packages/sdk/keystores/src/file-keystore.test.ts
  packages/sdk/keystores/src/keystore-base.test.ts
  packages/sdk/keystores/src/keystore-wallet-wrapper.test.ts
  packages/viem-account-ledger/vitest.config.ts
  vitest.config.mjs
  yarn.lock
Due: sdk
