Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

ci: bump Node-20-deprecated GitHub Actions (#781)
  .github/actions/sync-workspace/action.yml
  .github/workflows/changeset-for-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/open-docs-pr.yml
  .github/workflows/release.yaml
  .github/workflows/upload-celocli-executables.yml
Due: none

style(cli): organize imports in bridge commands (biome)
  packages/cli/src/commands/bridge/deposit.ts
  packages/cli/src/commands/bridge/withdraw-finalize.ts
  packages/cli/src/commands/bridge/withdraw-init.ts
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/commands/bridge/withdraw-status.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

Add deposit & withdraw for OP. (#774)
  packages/cli/docs/bridge.md
  packages/cli/package.json
  packages/cli/src/commands/bridge/deposit.test.ts
  packages/cli/src/commands/bridge/deposit.ts
  packages/cli/src/commands/bridge/withdraw-finalize.ts
  packages/cli/src/commands/bridge/withdraw-init.ts
  packages/cli/src/commands/bridge/withdraw-prove.ts
  packages/cli/src/commands/bridge/withdraw-status.ts
  packages/cli/src/commands/bridge/withdraw.test.ts
  packages/cli/src/utils/bridge.test.ts
  packages/cli/src/utils/bridge.ts
Due: celocli

fix(deps): align @vitest/coverage-v8 with vitest 3.2.6 and pin vite to 6.x
  package.json
  packages/actions/package.json
  packages/core/package.json
  packages/dev-utils/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

fix(governance): correct proxy-repoint log and surface new proposal id in governance:propose
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/cli/src/commands/governance/propose.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: celocli, sdk

fix(governance,cli): execute approval check, withdraw loop guard, surface event ids
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/cli/src/commands/governance/execute.test.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/revokeupvote.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/votePartially.ts
  packages/cli/src/commands/lockedcelo/withdraw.test.ts
  packages/cli/src/commands/lockedcelo/withdraw.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/cli/src/utils/checks.ts
Due: celocli

fix(cli): correctness bugs from full command audit
  packages/actions/src/contracts/election.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/account/deauthorize.test.ts
  packages/cli/src/commands/account/deauthorize.ts
  packages/cli/src/commands/account/delete-payment-delegation.ts
  packages/cli/src/commands/account/set-payment-delegation.ts
  packages/cli/src/commands/account/set-wallet.ts
  packages/cli/src/commands/releasecelo/locked-gold.ts
  packages/cli/src/commands/validatorgroup/commission.ts
  packages/cli/src/packages-to-be/validators.ts
Due: celocli

fix(cli): declare missing --slashing flag in rewards:show
  packages/cli/src/commands/rewards/show.ts
Due: celocli

test: cover validator balance-requirement precheck and proxy-repoint log fixes
  packages/cli/src/packages-to-be/validators.test.ts
  packages/sdk/governance/src/proposal-builder.test.ts
Due: celocli, sdk

test(cli): assert governance:propose surfaces the new proposalId
  packages/cli/src/commands/governance/propose.test.ts
Due: celocli

test: cover election pending-votes filter and rewards:show --slashing flag
  packages/actions/src/contracts/election.test.ts
  packages/cli/src/commands/rewards/show.test.ts
Due: celocli

fix(cli): surface proposal id on multisig/safe propose execute paths
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/safe.ts
Due: celocli

fix(governance): resolve intra-proposal upgraded method ABIs in proposal-builder
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

feat(cli): self-contained fork simulation for governance:propose
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/cli/package.json
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/anvil-fork.ts
  packages/dev-utils/src/anvil-binary.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/viem/anvil-test.ts
  yarn.lock
Due: celocli

feat(explorer): resolve proposal ABIs via Blockscout/Celoscan
  packages/sdk/explorer/src/block-explorer.ts
  packages/sdk/explorer/src/explorer.ts
  packages/sdk/explorer/src/sourcify.ts
Due: sdk

fix(cli): use a free port for the proposal-simulation anvil fork
  packages/cli/src/utils/anvil-fork.ts
Due: celocli

fix(governance): match proxy repoints by stripped name or address
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

style: biome import order + comment empty catch in event decoder
  packages/cli/src/utils/cli.ts
  packages/dev-utils/src/anvil-test.ts
  packages/dev-utils/src/viem/anvil-test.ts
Due: celocli

style: biome format explorer.ts (unblocks CI fmt:diff)
  packages/sdk/explorer/src/explorer.ts
Due: sdk

fix(explorer): migrate Sourcify lookup from v1 to v2 API
  .changeset/fix-propose-proxy-log-and-proposalid.md
  packages/sdk/explorer/src/sourcify.test.ts
  packages/sdk/explorer/src/sourcify.ts
Due: sdk

chore(deps): bump @celo/abis to 17.0.0
  .changeset/bump-abis-17.md
  packages/actions/package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

chore(deps): bump @celo/abis to 14.0.1
  .changeset/bump-abis-14.md
  .changeset/bump-abis-17.md
  packages/actions/package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

chore(deps): bump @celo/abis to 14.0.1 (latest compatible) (#784)
  .changeset/bump-abis-14.md
  packages/actions/package.json
  packages/cli/package.json
  packages/dev-utils/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

feat(governance): show how many approvers still need to approve
  .changeset/remaining-approvals.md
  packages/cli/src/commands/governance/show.test.ts
  packages/cli/src/commands/governance/show.ts
  packages/cli/src/commands/multisig/show.test.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/utils/governance.ts
  packages/cli/src/utils/multisig-utils.test.ts
  packages/cli/src/utils/multisig-utils.ts
  packages/sdk/contractkit/src/wrappers/Governance.test.ts
  packages/sdk/contractkit/src/wrappers/Governance.ts
Due: celocli, sdk

perf(contractkit): reduce RPC load of MultiSigWrapper reads
  .changeset/multisig-read-batching.md
  packages/sdk/contractkit/src/wrappers/MultiSig.ts
Due: sdk

refactor(cli): address review feedback on approval progress
  packages/cli/src/commands/governance/show.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/utils/governance.ts
  packages/cli/src/utils/multisig-utils.test.ts
  packages/cli/src/utils/multisig-utils.ts
Due: celocli

test(contractkit): unit-test MultiSigWrapper transaction scan
  packages/sdk/contractkit/src/wrappers/MultiSig.test.ts
Due: sdk

test(contractkit): cover remaining MultiSigWrapper methods
  packages/sdk/contractkit/src/wrappers/MultiSig.test.ts
Due: sdk

Replace ethereumjs-wallet with in-package V3 keystore implementation
  .changeset/keystores-drop-ethereumjs-wallet.md
  packages/sdk/keystores/package.json
  packages/sdk/keystores/src/keystore-base.ts
  packages/sdk/keystores/src/v3-keystore.test.ts
  packages/sdk/keystores/src/v3-keystore.ts
  yarn.lock
Due: sdk

Pin the pbkdf2 key derivation path with a known-answer test
  packages/sdk/keystores/src/test-constants.ts
  packages/sdk/keystores/src/v3-keystore.test.ts
Due: sdk

Add --keystore flag for signing with an encrypted keystore
  .changeset/cli-keystore-flag.md
  packages/cli/package.json
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/keystore.test.ts
  packages/cli/src/utils/keystore.ts
  packages/sdk/keystores/src/index.ts
  yarn.lock
Due: celocli, sdk

Cover the keystore wiring and tighten flag exclusivity
  .changeset/cli-keystore-flag.md
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
Due: celocli

fix(ledger): iterate account indexes in ledgerLiveMode
  .changeset/ledger-live-account-indexes.md
  packages/cli/src/base.test.ts
  packages/cli/src/base.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.test.ts
  packages/sdk/wallets/wallet-ledger/src/ledger-wallet.ts
  packages/viem-account-ledger/src/derive-ledger-accounts.test.ts
  packages/viem-account-ledger/src/derive-ledger-accounts.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.test.ts
  packages/viem-account-ledger/src/ledger-to-wallet-client.ts
Due: celocli, wallets

build(deps): bump @vitest/coverage-v8 to v4 alongside vitest
  packages/actions/package.json
  packages/core/package.json
  packages/viem-account-ledger/package.json
  yarn.lock
Due: none

build(deps): restore full-source vitest coverage after vitest 4
  packages/actions/vitest.config.ts
  packages/core/vitest.config.ts
  packages/viem-account-ledger/vitest.config.ts
Due: none
