Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

fix test
  packages/cli/src/commands/validator/affilliate.test.ts
Due: celocli

remove more unused code
  packages/cli/src/utils/checks.ts
Due: celocli

more coverage, resolve TODOs, improve UX by showing actual percentage while delegating
  packages/cli/src/commands/lockedcelo/delegate-l2.test.ts
  packages/cli/src/commands/lockedcelo/delegate.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/utils/checks.ts
Due: celocli

resolve TODOs, OK with a bit of redunancy
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/utils/checks.ts
Due: celocli

changeset
  .changeset/lovely-pigs-flash.md
Due: none

Update packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/deregister.test.ts
Due: celocli

token
  .github/workflows/upload-celocli-executables.yml
Due: none

get token later
  .github/workflows/upload-celocli-executables.yml
Due: none

fix path for ubuntu
  .github/workflows/upload-celocli-executables.yml
Due: none

correct path and change static secrets to dynamic
  .github/workflows/upload-celocli-executables.yml
Due: none

minor -> patch
  .changeset/lovely-pigs-flash.md
Due: none

cover governance hotfix fetching logic pre 1.4.2.0 contract version
  packages/cli/src/commands/governance/preparehotfix.test.ts
Due: celocli

fix: PR
  .github/workflows/upload-celocli-executables.yml
Due: none

fix: gh login
  .github/workflows/upload-celocli-executables.yml
Due: none

ssh->https
  .github/workflows/upload-celocli-executables.yml
Due: none

typo???
  .github/workflows/upload-celocli-executables.yml
Due: none

test with gh auth setup-git
  .github/workflows/upload-celocli-executables.yml
Due: none

token???
  .github/workflows/upload-celocli-executables.yml
Due: none

refactor names
  .github/workflows/upload-celocli-executables.yml
Due: none

fix
  .github/workflows/upload-celocli-executables.yml
Due: none

when building a proposal if no strategy finds the contract return the nice errors they give
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

docs
  .changeset/thin-dryers-compare.md
  docs/sdk/governance/classes/proposal_builder.ProposalBuilder.md
Due: none

improve spacing and wording on error message
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

Governance: failure feedback (#542)
  .changeset/thin-dryers-compare.md
  docs/sdk/governance/classes/proposal_builder.ProposalBuilder.md
  packages/sdk/governance/src/proposal-builder.test.ts
  packages/sdk/governance/src/proposal-builder.ts
Due: sdk

make it work
  packages/sdk/governance/src/proposal-builder.ts
  packages/sdk/governance/src/proposals.ts
Due: sdk

remove gh setup-git
  .github/workflows/upload-celocli-executables.yml
Due: none

another attempt
  .github/workflows/upload-celocli-executables.yml
Due: none

another one
  .github/workflows/upload-celocli-executables.yml
Due: none

refactor
  .github/workflows/upload-celocli-executables.yml
Due: none

gh login
  .github/workflows/upload-celocli-executables.yml
Due: none

works????
  .github/workflows/upload-celocli-executables.yml
Due: none

force push to fork
  .github/workflows/upload-celocli-executables.yml
Due: none

?
  .github/workflows/upload-celocli-executables.yml
Due: none

user
  .github/workflows/upload-celocli-executables.yml
Due: none
