Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

speed up by just doing mac x64
  .github/workflows/upload-celocli-executables.yml
Due: none

workdir
  .github/workflows/upload-celocli-executables.yml
Due: none

???
  .github/workflows/upload-celocli-executables.yml
Due: none

idk at this point
  .github/workflows/upload-celocli-executables.yml
Due: none

chmod
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/prepare.mjs
  packages/cli/homebrew/scripts/test.sh
Due: celocli

fix missing alias for update delegate amount
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/lockedgold.md
  packages/cli/src/commands/lockedcelo/update-delegated-amount.ts
Due: celocli

homebrew
  .github/workflows/upload-celocli-executables.yml
  packages/cli/homebrew/scripts/test.sh
  packages/cli/homebrew/templates/celocli.rb
Due: celocli

fix
  .github/workflows/upload-celocli-executables.yml
Due: none

fix
  packages/cli/homebrew/templates/celocli.rb
Due: celocli

fix homebrew test
  packages/cli/homebrew/scripts/test.sh
Due: celocli

current WIP
  packages/cli/src/commands/validator/status.test.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
Due: celocli

resolve build issue
  packages/cli/src/utils/checks.ts
Due: celocli

fixes, remove unused code, bump up coverage, remove contractkit dependency from CheckBuilder
  packages/cli/src/commands/governance/preparehotfix.test.ts
  packages/cli/src/commands/governance/withdraw.ts
  packages/cli/src/commands/multisig/approve.ts
  packages/cli/src/commands/releasecelo/set-beneficiary.ts
  packages/cli/src/utils/checks.ts
Due: celocli

create viem client in the BaseCommand
  packages/cli/src/base.ts
  packages/cli/src/utils/checks.ts
Due: celocli

Apply suggestions from code review
  packages/sdk/contractkit/src/contract-cache.test.ts
Due: sdk

Update packages/cli/src/commands/lockedcelo/show.ts
  packages/cli/src/commands/lockedcelo/show.ts
Due: celocli

docs
  docs/command-line-interface/lockedcelo.md
  docs/command-line-interface/lockedgold.md
Due: none

PublicClient typing instead of CeloClient where unneccesary
  packages/cli/src/base.ts
  packages/cli/src/packages-to-be/account.ts
  packages/cli/src/packages-to-be/address-resolver.ts
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/contracts.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
Due: celocli

fix: dont need to fetch all branches
  .github/workflows/upload-celocli-executables.yml
Due: none

move viem-based isCel2() to a separate file
  packages/cli/src/packages-to-be/client.ts
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/utils.ts
Due: celocli

feat: add additional checks to the governance:propose descriptionURL param
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
Due: celocli

make command not hiddent so the command shows up in docs
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/approve.ts
Due: celocli

move bigintToBigNumber to a separate file
  packages/cli/src/packages-to-be/governance.ts
  packages/cli/src/packages-to-be/utils.ts
  packages/cli/src/packages-to-be/validators.ts
  packages/cli/src/utils/checks.ts
Due: celocli

getStableTokenContractName() should be a private helper method
  packages/cli/src/utils/checks.ts
Due: celocli

chore: add changeset
  .changeset/grumpy-schools-judge.md
  docs/command-line-interface/governance.md
Due: none

remove hasEnoughLockedGold as not used anywhere
  packages/cli/src/utils/checks.ts
Due: celocli

refactor
  packages/cli/src/commands/governance/propose.ts
Due: celocli

make command not hidden so the command shows up in docs (#541)
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/approve.ts
Due: celocli

refactor: use CustomFlags rather than .addCheck
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/command.ts
Due: celocli

feat: add additional checks to the governance:propose descriptionURL flag (#540)
  .changeset/grumpy-schools-judge.md
  docs/command-line-interface/governance.md
  packages/cli/src/commands/governance/propose-l2.test.ts
  packages/cli/src/commands/governance/propose.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/command.ts
Due: celocli

improve coverage, fix @ts-ignore and error handling
  packages/cli/src/commands/validator/affilliate.test.ts
  packages/cli/src/utils/checks.ts
Due: celocli

++ cs
  .changeset/polite-cheetahs-yell.md
Due: none

PR feedback
  packages/cli/src/commands/epochs/process-groups.test.ts
Due: celocli

changed version bump to minor
  .changeset/polite-cheetahs-yell.md
Due: none

++ epochmanager processgroups function
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

filter out groups that may have already been processed
  packages/sdk/contractkit/src/wrappers/EpochManager.ts
Due: sdk

Update packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
  packages/sdk/contractkit/src/wrappers/EpochManager.test.ts
Due: sdk

++ epochmanager processGroups function to celocli
  packages/cli/src/commands/epochs/process-groups.test.ts
  packages/cli/src/commands/epochs/process-groups.ts
Due: celocli
