Repository celo-org/developer-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: celocli, sdk, wallets, viem-sdks

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        only_pulls: true

comment:
  layout: 'header, diff, components'

ignore:
  - 'packages/typescript'
  - 'docs'
  - '.github'
  - '.changeset'

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: celocli
      name: celocli
      paths:
        - packages/cli
    - component_id: sdks
      name: sdk
      paths:
        - '!packages/sdk/wallets/**'
        - 'packages/sdk/**'
    - component_id: wallets
      name: wallets
      paths:
        - 'packages/sdk/wallets/**'
    - component_id: viem-sdks
      name: viem-sdks
      paths:
        - 'packages/viem-**'

snap
  packages/cli/src/commands/validator/deregister.test.ts
Due: celocli

mark flags for bls as deprecated
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/commands/validator/register.ts
Due: celocli

deprecate flags, use dynamic on chain values, add tests (#452)
  .changeset/perfect-pianos-jump.md
  .changeset/rude-schools-help.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/src/base-l2.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/dkg/register.ts
  packages/cli/src/commands/releasecelo/authorize.ts
  packages/cli/src/commands/validator/affiliate.ts
  packages/cli/src/commands/validator/deregister.test.ts
  packages/cli/src/commands/validator/deregister.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/deregister.test.ts
  packages/cli/src/commands/validatorgroup/deregister.ts
  packages/cli/src/commands/validatorgroup/member.test.ts
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/test-utils/chain-setup.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.test.ts
  packages/cli/src/utils/cli.ts
Due: celocli

upgrade abis to include governance
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/governance/package.json
  yarn.lock
Due: sdk

changeset
  .changeset/breezy-panthers-sort.md
Due: none

docs
  docs/sdk/contractkit/classes/web3_contract_cache.Web3ContractCache.md
  docs/sdk/contractkit/enums/base.CeloContract.md
  docs/sdk/contractkit/modules/base.md
  docs/sdk/contractkit/modules/web3_contract_cache.md
Due: none

slasher is now shown in contracts list
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
Due: celocli

upgrade abis to include governance (#463)
  .changeset/breezy-panthers-sort.md
  docs/sdk/contractkit/classes/web3_contract_cache.Web3ContractCache.md
  docs/sdk/contractkit/enums/base.CeloContract.md
  docs/sdk/contractkit/modules/base.md
  docs/sdk/contractkit/modules/web3_contract_cache.md
  packages/cli/src/commands/network/__snapshots__/contracts-l2.test.ts.snap
  packages/cli/src/commands/network/__snapshots__/contracts.test.ts.snap
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/governance/package.json
  yarn.lock
Due: celocli, sdk

Telemetry
  packages/cli/src/base.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/hooks/postrun/feedback.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

fix: add transferOwnership() to proxy abi list
  packages/sdk/contractkit/src/proxy.ts
Due: sdk

Create dirty-crabs-trade.md
  .changeset/dirty-crabs-trade.md
Due: none

parse URLs + disallow localhost
  packages/cli/src/commands/account/claim-rpc-url.ts
  packages/cli/src/commands/account/claims-l2.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/command.test.ts
  packages/cli/src/utils/command.ts
Due: celocli

127.0.0.1 -> example.com
  packages/cli/src/commands/account/claims.test.ts
Due: celocli

docs
  docs/command-line-interface/account.md
  docs/command-line-interface/governance.md
Due: none

docs
  docs/sdk/contractkit/modules/index.md
  docs/sdk/contractkit/modules/proxy.md
Due: none

fix: add _transferOwnership() to proxy abi list (#467)
  .changeset/dirty-crabs-trade.md
  docs/sdk/contractkit/modules/index.md
  docs/sdk/contractkit/modules/proxy.md
  packages/sdk/contractkit/src/proxy.ts
Due: sdk

RPC URL claims (#459)
  .changeset/funny-sheep-repeat.md
  .changeset/three-spies-wonder.md
  docs/command-line-interface/account.md
  docs/command-line-interface/governance.md
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
  docs/sdk/metadata-claims/enums/types.ClaimTypes.md
  docs/sdk/metadata-claims/modules/claim.md
  docs/sdk/metadata-claims/modules/metadata.md
  docs/sdk/metadata-claims/modules/types.md
  packages/cli/src/commands/account/claim-rpc-url.ts
  packages/cli/src/commands/account/claims-l2.test.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/command.test.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/identity.ts
  packages/sdk/metadata-claims/.gitignore
  packages/sdk/metadata-claims/lib/account.d.ts
  packages/sdk/metadata-claims/lib/account.js
  packages/sdk/metadata-claims/lib/account.js.map
  packages/sdk/metadata-claims/lib/claim.d.ts
  packages/sdk/metadata-claims/lib/claim.js
  packages/sdk/metadata-claims/lib/claim.js.map
  packages/sdk/metadata-claims/lib/index.d.ts
  packages/sdk/metadata-claims/lib/index.js
  packages/sdk/metadata-claims/lib/index.js.map
  packages/sdk/metadata-claims/lib/keybase.d.ts
  packages/sdk/metadata-claims/lib/keybase.js
  packages/sdk/metadata-claims/lib/keybase.js.map
  packages/sdk/metadata-claims/lib/metadata.d.ts
  packages/sdk/metadata-claims/lib/metadata.js
  packages/sdk/metadata-claims/lib/metadata.js.map
  packages/sdk/metadata-claims/lib/types.d.ts
  packages/sdk/metadata-claims/lib/types.js
  packages/sdk/metadata-claims/lib/types.js.map
  packages/sdk/metadata-claims/lib/verify.d.ts
  packages/sdk/metadata-claims/lib/verify.js
  packages/sdk/metadata-claims/lib/verify.js.map
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/metadata-claims/src/metadata.ts
  packages/sdk/metadata-claims/src/types.ts
Due: celocli, sdk

WIP
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/hooks/postrun/feedback.ts
  packages/cli/src/utils/telemetry.ts
Due: celocli

non-blocking + timeout
  packages/cli/src/utils/telemetry.ts
Due: celocli

List community RPC nodes
  packages/cli/src/commands/validatorgroup/rpc-urls-l2.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

hide flags related to signing on view commands
  .changeset/hip-suits-search.md
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/cli/src/commands/account/show.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/governance/show.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/network/parameters.ts
  packages/cli/src/commands/network/whitelist.ts
  packages/cli/src/commands/oracle/list.ts
  packages/cli/src/commands/releasecelo/show.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/show.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/show.ts
  packages/cli/src/utils/flags.ts
Due: celocli

create celoLegacy derivation alias,
  .changeset/tasty-hounds-occur.md
  .changeset/tasty-schools-reply.md
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
  packages/sdk/base/src/account.ts
Due: celocli, sdk

docs
  docs/sdk/base/enums/account.DerivationPathAliases.md
  docs/sdk/base/enums/account.MnemonicLanguages.md
  docs/sdk/base/enums/account.MnemonicStrength.md
  docs/sdk/base/interfaces/account.Bip39.md
  docs/sdk/base/modules/account.md
  docs/sdk/base/modules/index.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicLanguages.md
  docs/sdk/cryptographic-utils/enums/account.MnemonicStrength.md
  docs/sdk/cryptographic-utils/interfaces/account.Bip39.md
  docs/sdk/cryptographic-utils/modules/account.md
Due: none

docs no longer show fake flags
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/election.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/lockedgold.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/src/commands/account/new.ts
Due: celocli

typo + optimisations + update PR template
  .github/pull_request_template.md
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

docs
  docs/command-line-interface/network.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
Due: none

Dont show superfluous flags (#472)
  .changeset/hip-suits-search.md
  docs/command-line-interface/account.md
  docs/command-line-interface/config.md
  docs/command-line-interface/election.md
  docs/command-line-interface/governance.md
  docs/command-line-interface/lockedgold.md
  docs/command-line-interface/multisig.md
  docs/command-line-interface/network.md
  docs/command-line-interface/oracle.md
  docs/command-line-interface/releasecelo.md
  docs/command-line-interface/rewards.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/new.ts
  packages/cli/src/commands/account/show-metadata.ts
  packages/cli/src/commands/account/show.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/election/show.ts
  packages/cli/src/commands/governance/show.ts
  packages/cli/src/commands/lockedgold/show.ts
  packages/cli/src/commands/multisig/show.ts
  packages/cli/src/commands/network/contracts.ts
  packages/cli/src/commands/network/info.ts
  packages/cli/src/commands/network/parameters.ts
  packages/cli/src/commands/network/whitelist.ts
  packages/cli/src/commands/oracle/list.ts
  packages/cli/src/commands/releasecelo/show.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/show.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/show.ts
  packages/cli/src/utils/flags.ts
Due: celocli

more tests, and ensure the path is valid bip44 or a valid named alias.
  packages/cli/src/commands/account/new.test.ts
  packages/cli/src/commands/account/new.ts
Due: celocli

docs
  docs/command-line-interface/account.md
Due: none

warning
  packages/cli/src/commands/account/new.test.ts
Due: celocli

remove ledger live comment
  packages/sdk/base/src/account.ts
Due: sdk

docs
  docs/sdk/base/enums/account.MnemonicLanguages.md
  docs/sdk/base/enums/account.MnemonicStrength.md
  docs/sdk/base/interfaces/account.Bip39.md
  docs/sdk/base/modules/account.md
Due: none

nuke the lib folder so we never have any remaining stuff in it after cleaning
  packages/cli/package.json
Due: celocli

this should do the trick
  .changeset/tricky-bobcats-trade.md
  packages/sdk/metadata-claims/.npmignore
Due: sdk

fix lib folder publish for metadata claims (#475)
  .changeset/tricky-bobcats-trade.md
  packages/sdk/metadata-claims/.npmignore
Due: sdk

update npmignores with some config files we dont need to be publishing
  packages/sdk/base/.npmignore
  packages/sdk/connect/.npmignore
  packages/sdk/contractkit/.npmignore
  packages/sdk/explorer/.npmignore
  packages/sdk/governance/.npmignore
  packages/sdk/keystores/.npmignore
  packages/sdk/metadata-claims/.npmignore
  packages/sdk/network-utils/.npmignore
  packages/sdk/transactions-uri/.npmignore
  packages/sdk/wallets/wallet-base/.npmignore
  packages/sdk/wallets/wallet-ledger/.npmignore
  packages/viem-account-ledger/.npmignore
Due: sdk, wallets

update npmignores (#476)
  packages/sdk/base/.npmignore
  packages/sdk/connect/.npmignore
  packages/sdk/contractkit/.npmignore
  packages/sdk/explorer/.npmignore
  packages/sdk/governance/.npmignore
  packages/sdk/keystores/.npmignore
  packages/sdk/metadata-claims/.npmignore
  packages/sdk/network-utils/.npmignore
  packages/sdk/transactions-uri/.npmignore
  packages/sdk/wallets/wallet-base/.npmignore
  packages/sdk/wallets/wallet-ledger/.npmignore
  packages/viem-account-ledger/.npmignore
Due: sdk, wallets

CR fixes, ATTESTATION_SERVICE_URL backwards compatible support, more test coverage, changesets
  .changeset/afraid-wombats-agree.md
  .changeset/curly-dolls-heal.md
  packages/cli/src/commands/validatorgroup/rpc-urls-l2.test.ts
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
  packages/cli/src/utils/identity.ts
  packages/sdk/metadata-claims/src/claim.ts
  packages/sdk/metadata-claims/src/metadata.test.ts
  packages/sdk/metadata-claims/src/metadata.ts
  packages/sdk/metadata-claims/src/types.ts
Due: celocli, sdk

more verbose UI
  packages/cli/src/commands/validatorgroup/rpc-urls.ts
Due: celocli

docs
  docs/command-line-interface/network.md
  docs/command-line-interface/node.md
  docs/command-line-interface/validator.md
  docs/command-line-interface/validatorgroup.md
  docs/sdk/metadata-claims/classes/metadata.IdentityMetadataWrapper.md
  docs/sdk/metadata-claims/enums/types.ClaimTypes.md
  docs/sdk/metadata-claims/modules/claim.md
  docs/sdk/metadata-claims/modules/metadata.md
  docs/sdk/metadata-claims/modules/types.md
Due: none
